n8n-gmb-workflow.json
{
  "name": "GMB Auto-Poster",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gmb-posts",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "gmb-posts-webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"success\", \"message\": \"Received {{$json.length}} posts\", \"timestamp\": \"{{$now}}\"}"
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "body",
        "options": {}
      },
      "id": "split-posts",
      "name": "Split Posts",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "unit": "seconds",
        "amount": "={{Math.floor((new Date($json.scheduledDate) - new Date()) / 1000)}}"
      },
      "id": "wait-until-scheduled",
      "name": "Wait Until Scheduled",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "localPost",
        "operation": "create",
        "accountName": "={{$json.accountName || 'accounts/YOUR_ACCOUNT_ID'}}",
        "locationName": "={{$json.locationName || 'locations/YOUR_LOCATION_ID'}}",
        "languageCode": "en",
        "summary": "={{$json.content || $json.gmbContent}}",
        "topicType": "STANDARD",
        "callToAction": {
          "actionType": "LEARN_MORE",
          "url": "={{$json.actionUrl || 'https://theprofitplatform.com.au/contact'}}"
        }
      },
      "id": "create-gmb-post",
      "name": "Create GMB Post",
      "type": "n8n-nodes-base.googleBusinessProfile",
      "typeVersion": 1,
      "position": [1050, 300],
      "credentials": {
        "googleBusinessProfileOAuth2Api": {
          "id": "1",
          "name": "Google Business Profile"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.status}}",
              "operation": "equals",
              "value2": "success"
            }
          ]
        }
      },
      "id": "check-success",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "text": "✅ Posted to GMB: {{$json.content.substring(0, 50)}}..."
      },
      "id": "log-success",
      "name": "Log Success",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "text": "❌ Failed to post: {{$json.error}}"
      },
      "id": "log-error",
      "name": "Log Error",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1450, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Split Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Posts": {
      "main": [
        [
          {
            "node": "Wait Until Scheduled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Until Scheduled": {
      "main": [
        [
          {
            "node": "Create GMB Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create GMB Post": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-31T00:00:00.000Z",
  "versionId": "1"
}
