archive/over-engineered-automation/automation/workflows/manual-blog-automation.json
{
  "name": "Manual Blog Automation Trigger",
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:4321/api/automation/blog-automation",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "automation-key-2025"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "force",
              "value": false
            },
            {
              "name": "enableGitCommit",
              "value": true
            },
            {
              "name": "enableDeployment",
              "value": true
            }
          ]
        },
        "options": {}
      },
      "id": "blog-automation-trigger",
      "name": "Trigger Blog Automation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": [
            {
              "name": "success",
              "value": "={{ $json.success === true }}"
            }
          ]
        }
      },
      "id": "check-success",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "message": "✅ Blog automation triggered successfully!\nWorkflow: {{ $json.workflow }}\nTimestamp: {{ $json.timestamp }}"
      },
      "id": "success-notification",
      "name": "Success Notification",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [680, 240]
    },
    {
      "parameters": {
        "message": "❌ Blog automation failed!\nError: {{ $json.error }}"
      },
      "id": "error-notification",
      "name": "Error Notification",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [680, 380]
    },
    {
      "parameters": {
        "mode": "manual"
      },
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [40, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Trigger Blog Automation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Blog Automation": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Success Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}