archive/over-engineered-automation/automation/workflows/manual-blog-automation-fixed.json
{
  "name": "Manual Blog Automation Trigger - Fixed",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "url": "http://localhost:4321/api/automation/blog-automation",
        "options": {
          "headers": {
            "x-api-key": "automation-key-2025"
          },
          "bodyParametersJson": "{\n  \"force\": false,\n  \"enableGitCommit\": true,\n  \"enableDeployment\": true\n}"
        }
      },
      "id": "blog-automation-trigger",
      "name": "Trigger Blog Automation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-success",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "text": "✅ Blog automation triggered successfully!\nWorkflow: {{ $json.workflow }}\nTimestamp: {{ $json.timestamp }}"
      },
      "id": "success-notification",
      "name": "Success Notification",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [680, 240]
    },
    {
      "parameters": {
        "text": "❌ Blog automation failed!\nError: {{ $json.error }}"
      },
      "id": "error-notification",
      "name": "Error Notification",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [680, 380]
    },
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [40, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Trigger Blog Automation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Blog Automation": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Success Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
