n8n-workflows/backups/2025-10-10-213501/claude-mcp-optimized---choose-speed-9aXbzFBbbYHYwgVu.json
{"createdAt":"2025-09-05T21:52:28.251Z","updatedAt":"2025-10-04T13:22:25.288Z","id":"9aXbzFBbbYHYwgVu","name":"Claude MCP Optimized - Choose Speed","active":false,"isArchived":true,"nodes":[{"parameters":{"content":"# Claude MCP - Optimized for Speed\n\n## Choose Your Speed:\n- **FAST (<100ms):** Use `/api/fast` endpoint\n- **QUALITY (5-10s):** Use `/api/summarize` with Ollama\n\nThe workflow below uses the FAST option by default.","height":120,"width":600},"name":"Instructions","type":"n8n-nodes-base.stickyNote","position":[-200,0],"typeVersion":1,"id":"8a863cb0-d209-462b-9c2c-5ad0977b9666"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1M-Kau-3ul3BqkR2gwgwKm_RpsSFYDc85","mode":"list","cachedResultName":"1.Clients"},"event":"fileCreated"},"id":"trigger","name":"Google Drive","type":"n8n-nodes-base.googleDriveTrigger","position":[200,200],"typeVersion":1,"credentials":{"googleDriveOAuth2Api":{"id":"UueWBG5gSdw4L4qV","name":"Google Drive account"}}},{"parameters":{"operation":"get","documentURL":"={{ $json.id }}"},"id":"docs","name":"Get Document","type":"n8n-nodes-base.googleDocs","position":[400,200],"typeVersion":2,"credentials":{"googleDocsOAuth2Api":{"id":"8lFadaX9pluGxbTm","name":"Google Docs account"}}},{"parameters":{"method":"POST","url":"http://localhost:3333/api/fast","sendBody":true,"specifyBody":"json","jsonBody":"={\"text\": \"{{ $json.content }}\", \"operation\": \"summarize\"}","options":{"timeout":5000}},"id":"fast-mcp","name":"MCP Fast (<100ms)","type":"n8n-nodes-base.httpRequest","position":[600,200],"typeVersion":4.2,"notes":"Ultra-fast processing\nNo AI model\nBasic summarization"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1s1v58pqGaVha9g_evNX4UEMchzteO7CyLNp87tcKJ1Q","mode":"list"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list"},"columns":{"value":{"Document":"={{ $('Google Drive').item.json.name }}","Summary":"={{ $json.result || $json.summary }}","Processed":"={{ new Date().toISOString() }}","Speed":"={{ $json.processing_time || 'Standard' }}"}}},"id":"sheets","name":"Save to Sheets","type":"n8n-nodes-base.googleSheets","position":[800,200],"typeVersion":4.5,"credentials":{"googleSheetsOAuth2Api":{"id":"9ikrPSqn6zokh7qt","name":"Google Sheets account"}}},{"parameters":{"content":"## Alternative: Quality Mode\nFor better summaries (5-10s), change the HTTP Request URL to:\n```\nhttp://localhost:3333/api/summarize\n```\nAnd body to:\n```json\n{\"text\": \"{{ $json.content }}\", \"model\": \"llama3.2:1b\"}\n```","height":150,"width":400},"name":"Quality Option","type":"n8n-nodes-base.stickyNote","position":[600,350],"typeVersion":1,"id":"7b5cdc07-cde9-424d-aaf1-2baf1e3ac247"}],"connections":{"Google Drive":{"main":[[{"node":"Get Document","type":"main","index":0}]]},"Get Document":{"main":[[{"node":"MCP Fast (<100ms)","type":"main","index":0}]]},"MCP Fast (<100ms)":{"main":[[{"node":"Save to Sheets","type":"main","index":0}]]}},"settings":{},"staticData":{"node:Google Drive":{"lastTimeChecked":"2025-09-05T22:04:41Z"}},"meta":null,"pinData":null,"versionId":"51e6e0c3-1de4-4911-913f-9ef21a246e7d","triggerCount":1,"shared":[{"createdAt":"2025-09-05T21:52:28.251Z","updatedAt":"2025-09-05T21:52:28.251Z","role":"workflow:owner","workflowId":"9aXbzFBbbYHYwgVu","projectId":"55VrbeDl3nbECwkj"}],"tags":[]}
