n8n-workflows/backups/2025-10-10-213501/content-research-→-ai-generation-→-seo-→-publishing-ueXKIrMfOUWoDyae.json
{"createdAt":"2025-09-05T21:52:28.802Z","updatedAt":"2025-10-04T13:21:21.022Z","id":"ueXKIrMfOUWoDyae","name":"Content Research → AI Generation → SEO → Publishing","active":false,"isArchived":false,"nodes":[{"parameters":{"triggerTime":"0 6 * * 1-5","timezone":"Australia/Sydney"},"id":"daily-trigger","name":"Daily Content Research Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[240,300]},{"parameters":{"method":"GET","url":"https://trends.google.com/trends/api/dailytrends?hl=en-AU&tz=-600&geo=AU&ns=15","options":{"redirect":{"redirect":{}},"response":{"response":{"responseFormat":"json"}}}},"id":"google-trends-fetch","name":"Fetch Google Trends (AU)","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[460,200]},{"parameters":{"method":"GET","url":"https://www.reddit.com/r/australia+business+entrepreneur/hot.json?limit=10","options":{"redirect":{"redirect":{}},"response":{"response":{"responseFormat":"json"}}}},"id":"reddit-trends-fetch","name":"Fetch Reddit Australia Business","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[460,300]},{"parameters":{"method":"POST","url":"http://localhost:11434/api/generate","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"llama3.2:1b"},{"name":"prompt","value":"Analyze these trending topics from Australia: {{ $('Fetch Google Trends (AU)').item.json.default.trendingSearchesDays[0].trendingSearches.slice(0,5).map(t => t.title.query).join(', ') }} and Reddit: {{ $('Fetch Reddit Australia Business').item.json.data.children.slice(0,3).map(p => p.data.title).join(', ') }}. Generate 3 content ideas for Australian businesses that would be timely and engaging. Format as JSON array with: [{\"topic\": \"title\", \"keywords\": [\"keyword1\", \"keyword2\"], \"content_type\": \"blog_post\", \"target_audience\": \"description\"}]"},{"name":"stream","value":false}]}},"id":"topic-analysis-ollama","name":"Analyze Trends with Ollama","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[680,250]},{"parameters":{"jsCode":"const response = items[0].json.response;\nlet contentIdeas;\n\ntry {\n  // Extract JSON from the response\n  const jsonMatch = response.match(/\\[.*\\]/);\n  if (jsonMatch) {\n    contentIdeas = JSON.parse(jsonMatch[0]);\n  } else {\n    // Fallback parsing\n    contentIdeas = [{\n      \"topic\": \"Australian Business Growth Strategies\",\n      \"keywords\": [\"business growth\", \"Australian market\", \"automation\"],\n      \"content_type\": \"blog_post\",\n      \"target_audience\": \"Small to medium business owners\"\n    }];\n  }\n} catch (error) {\n  contentIdeas = [{\n    \"topic\": \"Australian Business Growth Strategies\",\n    \"keywords\": [\"business growth\", \"Australian market\", \"automation\"],\n    \"content_type\": \"blog_post\", \n    \"target_audience\": \"Small to medium business owners\"\n  }];\n}\n\n// Return each content idea as separate items for processing\nreturn contentIdeas.map((idea, index) => ({\n  json: {\n    ...idea,\n    id: `content_${Date.now()}_${index}`,\n    timestamp: new Date().toISOString(),\n    priority: index === 0 ? 'high' : 'medium'\n  }\n}));"},"id":"parse-content-ideas","name":"Parse Content Ideas","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,250]},{"parameters":{"method":"POST","url":"http://localhost:11434/api/generate","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"mistral:7b"},{"name":"prompt","value":"Write a comprehensive {{ $json.content_type }} about \"{{ $json.topic }}\" for {{ $json.target_audience }}. Target keywords: {{ $json.keywords.join(', ') }}. Requirements: 1000-1500 words, SEO-optimized with H2/H3 headings, include Australian context and examples, actionable advice, professional tone. Structure: Introduction (hook + overview), 3-4 main sections with subheadings, conclusion with call-to-action. Naturally incorporate keywords without keyword stuffing."},{"name":"stream","value":false}]}},"id":"generate-content-ollama","name":"Generate Content with Mistral","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1120,250]},{"parameters":{"method":"POST","url":"http://localhost:11434/api/generate","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"llama3.2:1b"},{"name":"prompt","value":"Optimize this content for SEO. Content: {{ $('Generate Content with Mistral').item.json.response.substring(0, 500) }}... Target keywords: {{ $('Parse Content Ideas').item.json.keywords.join(', ') }}. Generate: 1) SEO title (60 chars max), 2) Meta description (155 chars max), 3) 5 related keywords, 4) Internal linking suggestions. Format as JSON: {\"seo_title\": \"\", \"meta_description\": \"\", \"related_keywords\": [], \"internal_links\": []}"},{"name":"stream","value":false}]}},"id":"seo-optimization-ollama","name":"SEO Optimization with Ollama","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1340,250]},{"parameters":{"method":"POST","url":"https://api.theprofitplatform.com.au/api/v1/content/store","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer {{ $env.API_TOKEN }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content_id","value":"{{ $('Parse Content Ideas').item.json.id }}"},{"name":"title","value":"{{ $('Parse Content Ideas').item.json.topic }}"},{"name":"content","value":"{{ $('Generate Content with Mistral').item.json.response }}"},{"name":"seo_data","value":"{{ $('SEO Optimization with Ollama').item.json.response }}"},{"name":"keywords","value":"{{ $('Parse Content Ideas').item.json.keywords }}"},{"name":"content_type","value":"{{ $('Parse Content Ideas').item.json.content_type }}"},{"name":"target_audience","value":"{{ $('Parse Content Ideas').item.json.target_audience }}"},{"name":"priority","value":"{{ $('Parse Content Ideas').item.json.priority }}"},{"name":"status","value":"ready_for_review"},{"name":"created_at","value":"{{ $('Parse Content Ideas').item.json.timestamp }}"}]}},"id":"store-content-api","name":"Store Content in Database","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1560,250]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"priority-check","leftValue":"{{ $('Parse Content Ideas').item.json.priority }}","rightValue":"high","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},"id":"check-priority","name":"Check High Priority","type":"n8n-nodes-base.if","typeVersion":2,"position":[1780,250]},{"parameters":{"message":"🚀 New high-priority content generated!\n\nTopic: {{ $('Parse Content Ideas').item.json.topic }}\nKeywords: {{ $('Parse Content Ideas').item.json.keywords.join(', ') }}\nContent ID: {{ $('Parse Content Ideas').item.json.id }}\nStatus: Ready for review\n\nView in dashboard: https://dashboard.theprofitplatform.com.au/content/{{ $('Parse Content Ideas').item.json.id }}","subject":"Content Empire - High Priority Content Generated","options":{"allowUnauthorizedCerts":false,"ccEmail":"","bccEmail":""},"credentials":{"smtp":{"id":"smtp-credentials","name":"SMTP Account"}}},"id":"high-priority-notification","name":"Send High Priority Notification","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[2000,150]},{"parameters":{"method":"POST","url":"https://hooks.slack.com/services/{{ $env.SLACK_WEBHOOK_PATH }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"🎯 Content Pipeline Update: {{ $('Parse Content Ideas').item.json.topic }} | Priority: {{ $('Parse Content Ideas').item.json.priority }} | Keywords: {{ $('Parse Content Ideas').item.json.keywords.join(', ') }}"},{"name":"channel","value":"#content-empire"}]}},"id":"slack-notification","name":"Slack Team Notification","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2000,350]}],"connections":{"Daily Content Research Trigger":{"main":[[{"node":"Fetch Google Trends (AU)","type":"main","index":0},{"node":"Fetch Reddit Australia Business","type":"main","index":0}]]},"Fetch Google Trends (AU)":{"main":[[{"node":"Analyze Trends with Ollama","type":"main","index":0}]]},"Fetch Reddit Australia Business":{"main":[[{"node":"Analyze Trends with Ollama","type":"main","index":0}]]},"Analyze Trends with Ollama":{"main":[[{"node":"Parse Content Ideas","type":"main","index":0}]]},"Parse Content Ideas":{"main":[[{"node":"Generate Content with Mistral","type":"main","index":0}]]},"Generate Content with Mistral":{"main":[[{"node":"SEO Optimization with Ollama","type":"main","index":0}]]},"SEO Optimization with Ollama":{"main":[[{"node":"Store Content in Database","type":"main","index":0}]]},"Store Content in Database":{"main":[[{"node":"Check High Priority","type":"main","index":0}]]},"Check High Priority":{"main":[[{"node":"Send High Priority Notification","type":"main","index":0}],[{"node":"Slack Team Notification","type":"main","index":0}]]}},"settings":{},"staticData":{"node:Daily Content Research Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"7d4ae4e4-635d-4291-96c0-0f76409cd0f3","triggerCount":1,"shared":[{"createdAt":"2025-09-05T21:52:28.802Z","updatedAt":"2025-09-05T21:52:28.802Z","role":"workflow:owner","workflowId":"ueXKIrMfOUWoDyae","projectId":"55VrbeDl3nbECwkj"}],"tags":[]}
