n8n-workflows/backups/2025-10-10-213501/content-research-automation-qQGudHU2bfCI5rHU.json
{"createdAt":"2025-09-05T21:52:28.772Z","updatedAt":"2025-09-21T14:24:05.395Z","id":"qQGudHU2bfCI5rHU","name":"Content Research Automation","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"content-research","responseMode":"responseNode"},"id":"a8b1e5a7-d2c3-4f8e-9a1b-2c3d4e5f6a7b","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[240,300]},{"parameters":{"url":"http://31.97.222.218:8000/api/v1/content/generate","requestMethod":"POST","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"title","value":"={{$json[\"title\"]}}"},{"name":"keywords","value":"={{$json[\"keywords\"]}}"},{"name":"content_type","value":"={{$json[\"content_type\"]}}"},{"name":"tone","value":"={{$json[\"tone\"] || \"professional\"}}"},{"name":"word_count","value":"={{$json[\"word_count\"] || 1000}}"}]}},"id":"b9c2f6a8-e3d4-5f9e-0a2b-3c4d5e6f7a8b","name":"Generate Content","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[460,300]},{"parameters":{"url":"http://31.97.222.218:8000/api/v1/ai/seo/analyze","requestMethod":"POST","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{$json[\"content\"]}}"},{"name":"target_keywords","value":"={{$json[\"metadata\"][\"keywords\"]}}"}]}},"id":"c0d3g7b9-f4e5-6f0f-1b3c-4d5e6f7g8h9i","name":"SEO Analysis","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[680,300]},{"parameters":{"url":"http://31.97.222.218:8000/api/v1/publishing/distribute","requestMethod":"POST","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"title","value":"={{$node['Generate Content'].json['metadata']['title']}}"},{"name":"content","value":"={{$node['Generate Content'].json['content']}}"},{"name":"distribution_channels","value":"={{$json[\"platforms\"] || [\"wordpress\", \"twitter\"]}}"}]}},"id":"d1e4h8c0-g5f6-7g1g-2c4d-5e6f7g8h9i0j","name":"Distribute Content","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[900,300]},{"parameters":{"respondWith":"json","responseBody":{"success":true,"message":"Content research and publishing workflow completed","content_id":"={{$node['Generate Content'].json['metadata']['timestamp']}}","seo_score":"={{$node['SEO Analysis'].json['seo_score']}}","distribution_status":"={{$node['Distribute Content'].json['message']}}"}},"id":"e2f5i9d1-h6g7-8h2h-3d5e-6f7g8h9i0j1k","name":"Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1120,300]}],"connections":{"Webhook":{"main":[[{"node":"Generate Content","type":"main","index":0}]]},"Generate Content":{"main":[[{"node":"SEO Analysis","type":"main","index":0}]]},"SEO Analysis":{"main":[[{"node":"Distribute Content","type":"main","index":0}]]},"Distribute Content":{"main":[[{"node":"Response","type":"main","index":0}]]}},"settings":{},"staticData":{},"meta":null,"pinData":null,"versionId":"9abac334-74d9-4b18-8ea6-c2de28b38f19","triggerCount":1,"shared":[{"createdAt":"2025-09-05T21:52:28.772Z","updatedAt":"2025-09-05T21:52:28.772Z","role":"workflow:owner","workflowId":"qQGudHU2bfCI5rHU","projectId":"55VrbeDl3nbECwkj"}],"tags":[]}
