n8n-workflows/backups/2025-10-10-213501/content-api-webhook-Meyc5DsvNqaw4Lkp.json
{"createdAt":"2025-09-05T21:51:41.976Z","updatedAt":"2025-09-21T14:24:08.794Z","id":"Meyc5DsvNqaw4Lkp","name":"Content API Webhook","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"generate-content","responseMode":"responseNode","options":{}},"id":"webhook-trigger","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[250,300],"webhookId":"content-generation-webhook"},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.body.api_key }}","operation":"equals","value2":"YOUR_WEBHOOK_API_KEY"}]}},"id":"validate-api-key","name":"Validate API Key","type":"n8n-nodes-base.if","typeVersion":1,"position":[450,300]},{"parameters":{"method":"POST","url":"https://api.theprofitplatform.com.au/api/v1/auth/login","sendBody":true,"bodyParameters":{"parameters":[{"name":"email","value":"={{ $json.body.client_email }}"},{"name":"password","value":"={{ $json.body.client_password }}"}]},"options":{}},"id":"client-login","name":"Client Login","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[650,250]},{"parameters":{"method":"POST","url":"https://api.theprofitplatform.com.au/api/v1/content/generate","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Client Login').item.json.access_token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"topic","value":"={{ $json.body.topic }}"},{"name":"content_type","value":"={{ $json.body.content_type || 'blog' }}"},{"name":"target_length","value":"={{ $json.body.target_length || 1000 }}"},{"name":"tone","value":"={{ $json.body.tone || 'professional' }}"},{"name":"keywords","value":"={{ $json.body.keywords || [] }}"}]},"options":{"timeout":180000}},"id":"generate-content","name":"Generate Content","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[850,250]},{"parameters":{"options":{}},"id":"webhook-response","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1250,250]},{"parameters":{"values":{"string":[{"name":"status","value":"error"},{"name":"message","value":"Invalid API key"}]}},"id":"error-response","name":"Error Response","type":"n8n-nodes-base.set","typeVersion":3.2,"position":[650,400]},{"parameters":{"options":{}},"id":"error-webhook-response","name":"Respond Error","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[850,400]},{"parameters":{"channel":"content-notifications","text":"=New content generated!\n\n*Topic:* {{ $json.topic }}\n*Word Count:* {{ $json.word_count }}\n*SEO Score:* {{ $json.seo_score }}\n*Content ID:* {{ $json.content_id }}\n\n*Preview:* {{ $json.content.substring(0, 200) }}...","otherOptions":{},"attachments":[]},"id":"slack-notification","name":"Slack Notification","type":"n8n-nodes-base.slack","typeVersion":2.1,"position":[1050,250],"continueOnFail":true},{"parameters":{"content":"## Content API Webhook\n\nThis workflow provides a webhook endpoint for external systems to generate content.\n\n### Webhook URL:\n`https://n8n.theprofitplatform.com.au/webhook/generate-content`\n\n### Required POST body:\n```json\n{\n  \"api_key\": \"YOUR_WEBHOOK_API_KEY\",\n  \"client_email\": \"client@example.com\",\n  \"client_password\": \"password\",\n  \"topic\": \"Content topic\",\n  \"content_type\": \"blog\",\n  \"target_length\": 1000,\n  \"tone\": \"professional\",\n  \"keywords\": [\"keyword1\", \"keyword2\"]\n}\n```\n\n### Setup:\n1. Set your webhook API key in 'Validate API Key' node\n2. Configure Slack credentials (optional)\n3. Test with curl or Postman","height":400,"width":400},"id":"webhook-notes","name":"Webhook Documentation","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[250,600]}],"connections":{"Webhook":{"main":[[{"node":"Validate API Key","type":"main","index":0}]]},"Validate API Key":{"main":[[{"node":"Client Login","type":"main","index":0}],[{"node":"Error Response","type":"main","index":0}]]},"Client Login":{"main":[[{"node":"Generate Content","type":"main","index":0}]]},"Generate Content":{"main":[[{"node":"Slack Notification","type":"main","index":0}]]},"Slack Notification":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Error Response":{"main":[[{"node":"Respond Error","type":"main","index":0}]]}},"settings":{},"staticData":{},"meta":null,"pinData":null,"versionId":"a2728f99-4453-44c1-86c5-5a9172af86d4","triggerCount":1,"shared":[{"createdAt":"2025-09-05T21:51:41.976Z","updatedAt":"2025-09-05T21:51:41.976Z","role":"workflow:owner","workflowId":"Meyc5DsvNqaw4Lkp","projectId":"55VrbeDl3nbECwkj"}],"tags":[]}
