n8n-workflows/backups/2025-10-10-213501/daily-content-generator-y9e57qhWGUblY8HJ.json
{"createdAt":"2025-09-05T21:51:41.902Z","updatedAt":"2025-09-21T14:24:09.722Z","id":"y9e57qhWGUblY8HJ","name":"Daily Content Generator","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":24}]}},"id":"schedule-trigger","name":"Daily Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[250,300]},{"parameters":{"method":"POST","url":"https://api.theprofitplatform.com.au/api/v1/auth/login","sendBody":true,"bodyParameters":{"parameters":[{"name":"email","value":"demo@example.com"},{"name":"password","value":"demo123456"}]},"options":{}},"id":"api-login","name":"API Login","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[450,300]},{"parameters":{"values":{"string":[{"name":"topics","value":"AI Marketing Strategies for Australian SMEs|Digital Transformation in Australian Retail|SEO Best Practices for Local Businesses|Content Marketing ROI for B2B Companies|Social Media Trends for Australian Brands"}]}},"id":"content-topics","name":"Content Topics","type":"n8n-nodes-base.set","typeVersion":3.2,"position":[650,300]},{"parameters":{"fieldToSplitOut":"topics","options":{"splitBy":"|"}},"id":"split-topics","name":"Split Topics","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[850,300]},{"parameters":{"method":"POST","url":"https://api.theprofitplatform.com.au/api/v1/content/generate","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('API Login').item.json.access_token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"topic","value":"={{ $json.topics }}"},{"name":"content_type","value":"blog"},{"name":"target_length","value":"1000"},{"name":"tone","value":"professional"},{"name":"keywords","value":"={{ $json.topics.toLowerCase().split(' ').slice(0, 3) }}"}]},"options":{"timeout":180000}},"id":"generate-content","name":"Generate Content","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1050,300]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"YOUR_GOOGLE_SHEET_ID","mode":"id"},"sheetName":"Content Library","columns":{"mappingMode":"defineBelow","value":{"Date":"={{ new Date().toISOString() }}","Topic":"={{ $json.topic }}","Content":"={{ $json.content }}","Word Count":"={{ $json.word_count }}","SEO Score":"={{ $json.seo_score }}","Content ID":"={{ $json.content_id }}"}}},"id":"save-to-sheets","name":"Save to Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[1250,300]},{"parameters":{"content":"## Daily Content Generator Workflow\n\nThis workflow:\n1. Runs daily at scheduled time\n2. Authenticates with your API\n3. Generates content for 5 predefined topics\n4. Saves all content to Google Sheets\n\n### Setup Required:\n1. Update login credentials in 'API Login' node\n2. Add your Google Sheets ID in 'Save to Google Sheets' node\n3. Customize topics in 'Content Topics' node\n4. Adjust schedule in 'Daily Trigger' node","height":200,"width":400},"id":"workflow-notes","name":"Workflow Notes","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[250,100]}],"connections":{"Daily Trigger":{"main":[[{"node":"API Login","type":"main","index":0}]]},"API Login":{"main":[[{"node":"Content Topics","type":"main","index":0}]]},"Content Topics":{"main":[[{"node":"Split Topics","type":"main","index":0}]]},"Split Topics":{"main":[[{"node":"Generate Content","type":"main","index":0}]]},"Generate Content":{"main":[[{"node":"Save to Google Sheets","type":"main","index":0}]]}},"settings":{},"staticData":{"node:Daily Trigger":{"recurrenceRules":[0]}},"meta":null,"pinData":null,"versionId":"0e363b0a-f7ff-4342-8837-922d92adaea0","triggerCount":1,"shared":[{"createdAt":"2025-09-05T21:51:41.902Z","updatedAt":"2025-09-05T21:51:41.902Z","role":"workflow:owner","workflowId":"y9e57qhWGUblY8HJ","projectId":"55VrbeDl3nbECwkj"}],"tags":[]}
