n8n-workflows/backups/2025-10-10-213501/google-doc-summarizer-with-claude-mcp-1KxrtUSFmIINuubO.json
{"createdAt":"2025-09-05T21:52:27.747Z","updatedAt":"2025-10-04T13:22:26.959Z","id":"1KxrtUSFmIINuubO","name":"Google Doc Summarizer with Claude MCP","active":false,"isArchived":true,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1M-Kau-3ul3BqkR2gwgwKm_RpsSFYDc85","mode":"list","cachedResultName":"1.Clients","cachedResultUrl":"https://drive.google.com/drive/folders/1M-Kau-3ul3BqkR2gwgwKm_RpsSFYDc85"},"event":"fileCreated","options":{}},"id":"881f7d58-a227-43a8-8d70-ad37263d4a81","name":"Google Drive","type":"n8n-nodes-base.googleDriveTrigger","position":[-400,96],"typeVersion":1,"credentials":{"googleDriveOAuth2Api":{"id":"UueWBG5gSdw4L4qV","name":"Google Drive account"}}},{"parameters":{"operation":"get","documentURL":"={{ $json.id }}"},"id":"87193ef8-b74b-4bd9-8fe7-68d1b5b74ad1","name":"Google Docs","type":"n8n-nodes-base.googleDocs","position":[-96,96],"typeVersion":2,"credentials":{"googleDocsOAuth2Api":{"id":"8lFadaX9pluGxbTm","name":"Google Docs account"}}},{"parameters":{"method":"POST","url":"http://localhost:3333/api/summarize","sendBody":true,"specifyBody":"json","jsonBody":"={\"text\": \"{{ $json.content }}\", \"model\": \"mistral:7b\"}","options":{}},"id":"claude-mcp-request","name":"Claude MCP (Local)","type":"n8n-nodes-base.httpRequest","position":[300,96],"typeVersion":4.2,"notes":"Uses local Claude MCP server\nNo API key required!\nRuns on your VPS with Ollama"},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"list","value":"1s1v58pqGaVha9g_evNX4UEMchzteO7CyLNp87tcKJ1Q","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1s1v58pqGaVha9g_evNX4UEMchzteO7CyLNp87tcKJ1Q/edit?usp=drivesdk","cachedResultName":"Docs Summarise Data"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1s1v58pqGaVha9g_evNX4UEMchzteO7CyLNp87tcKJ1Q/edit#gid=0","cachedResultName":"Sheet1"},"columns":{"value":{"Name":"={{ $('Google Drive').item.json.lastModifyingUser.displayName }}","Email":"={{ $('Google Drive').item.json.lastModifyingUser.emailAddress }}","Document Title":"={{ $('Google Drive').item.json.name }}","Summary":"={{ $json.summary }}","Date Processed":"={{ new Date().toISOString() }}","Model Used":"={{ $json.model }}"},"schema":[{"id":"Name","type":"string","display":true,"displayName":"Name"},{"id":"Email","type":"string","display":true,"displayName":"Email"},{"id":"Document Title","type":"string","display":true,"displayName":"Document Title"},{"id":"Summary","type":"string","display":true,"displayName":"Summary"},{"id":"Date Processed","type":"string","display":true,"displayName":"Date Processed"},{"id":"Model Used","type":"string","display":true,"displayName":"Model Used"}],"mappingMode":"defineBelow","matchingColumns":[]},"options":{}},"id":"b4013050-b043-43d9-a218-92e32a2bcf18","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","position":[600,96],"typeVersion":4.5,"credentials":{"googleSheetsOAuth2Api":{"id":"9ikrPSqn6zokh7qt","name":"Google Sheets account"}}},{"parameters":{"content":"# Google Doc Summarizer with Local Claude MCP\n\nThis workflow uses your local Claude MCP server running on the VPS.\nNo API keys required - it uses Ollama models locally!","height":100,"width":800,"color":5},"id":"header-note","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-400,-100],"typeVersion":1}],"connections":{"Google Drive":{"main":[[{"node":"Google Docs","type":"main","index":0}]]},"Google Docs":{"main":[[{"node":"Claude MCP (Local)","type":"main","index":0}]]},"Claude MCP (Local)":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]}},"settings":{},"staticData":{"node:Google Drive":{"lastTimeChecked":"2025-09-05T22:04:41Z"}},"meta":null,"pinData":null,"versionId":"2f9a610a-8125-4beb-8037-e3e25f5b510b","triggerCount":1,"shared":[{"createdAt":"2025-09-05T21:52:27.747Z","updatedAt":"2025-09-05T21:52:27.747Z","role":"workflow:owner","workflowId":"1KxrtUSFmIINuubO","projectId":"55VrbeDl3nbECwkj"}],"tags":[]}
