n8n-workflows/backups/2025-10-10-213501/manual-blog-automation-trigger---fixed-CUlia6c3xTpoCzJV.json
{"createdAt":"2025-10-09T15:38:39.226Z","updatedAt":"2025-10-09T15:38:39.226Z","id":"CUlia6c3xTpoCzJV","name":"Manual Blog Automation Trigger - Fixed","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"http://127.0.0.1:4321/api/automation/blog-automation","authentication":"headerAuth","sendHeaders":true,"headerParameters":{"parameters":[]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"force","value":false},{"name":"enableGitCommit","value":true},{"name":"enableDeployment","value":true}]},"options":{"timeout":30000}},"credentials":{"httpHeaderAuth":{"id":"vps-automation-api","name":"VPS Automation API"}},"id":"blog-automation-trigger","name":"Trigger Blog Automation","type":"n8n-nodes-base.httpRequest","position":[240,304],"typeVersion":4},{"parameters":{"conditions":{"options":[{"name":"success","value":"={{ $json.success === true }}"}]},"options":{}},"id":"check-success","name":"Check Success","type":"n8n-nodes-base.if","position":[464,304],"typeVersion":2},{"parameters":{"text":"✅ Blog automation triggered successfully!\nWorkflow: {{ $json.workflow }}\nTimestamp: {{ $json.timestamp }}","options":{}},"credentials":{"discordWebhookApi":{"id":"blog-bot-webhook","name":"Blog Bot Webhook"}},"id":"success-notification","name":"Success Notification","type":"n8n-nodes-base.discord","position":[688,240],"typeVersion":1},{"parameters":{"text":"❌ Blog automation failed!\nError: {{ $json.error }}\nTimestamp: {{ $json.timestamp }}","options":{}},"credentials":{"discordWebhookApi":{"id":"blog-bot-webhook","name":"Blog Bot Webhook"}},"id":"error-notification","name":"Error Notification","type":"n8n-nodes-base.discord","position":[688,384],"typeVersion":1},{"parameters":{},"id":"manual-trigger","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","position":[48,304],"typeVersion":1}],"connections":{"Manual Trigger":{"main":[[{"node":"Trigger Blog Automation","type":"main","index":0}]]},"Trigger Blog Automation":{"main":[[{"node":"Check Success","type":"main","index":0}]]},"Check Success":{"main":[[{"node":"Success Notification","type":"main","index":0}],[{"node":"Error Notification","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"f254baf7-aae6-4bd5-b96c-4b80dcec3c41","triggerCount":0,"shared":[{"createdAt":"2025-10-09T15:38:39.226Z","updatedAt":"2025-10-09T15:38:39.226Z","role":"workflow:owner","workflowId":"CUlia6c3xTpoCzJV","projectId":"55VrbeDl3nbECwkj"}],"tags":[]}
