n8n-workflows/backups/2025-10-10-213501/manual-blog-automation-trigger---partially-fixed-q5YFCKSXdLq1YD5j.json
{"createdAt":"2025-10-09T15:47:29.717Z","updatedAt":"2025-10-10T10:26:41.176Z","id":"q5YFCKSXdLq1YD5j","name":"Manual Blog Automation Trigger - Partially Fixed","active":true,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"http://127.0.0.1:4321/api/automation/blog-automation","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"automation-key-2025"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"force","value":false},{"name":"enableGitCommit","value":true},{"name":"enableDeployment","value":true}]},"options":{"timeout":30000}},"id":"blog-automation-trigger","name":"Trigger Blog Automation","type":"n8n-nodes-base.httpRequest","position":[240,304],"typeVersion":4},{"parameters":{"conditions":{"options":[{"name":"success","value":"={{ $json.success === true }}"}]},"options":{}},"id":"check-success","name":"Check Success","type":"n8n-nodes-base.if","position":[464,304],"typeVersion":2},{"parameters":{"webhookUri":"https://discord.com/api/webhooks/1424580081195683890/TJMeZ_R3BZGA2VoAawVu2Xg-AGFgkvBpKACjFHqwT50aHT7fagHmKqOFZ3-88zjViBLS","text":"=✅ **Blog Automation Successful!**\n\n**Workflow**: Manual Blog Automation\n**Timestamp**: {{ $now }}\n**Status**: Success\n\n📝 Blog post generated successfully!\n🚀 Check Discord for details","options":{}},"id":"success-notification","name":"Success Notification","type":"n8n-nodes-base.discord","position":[688,240],"typeVersion":1},{"parameters":{"webhookUri":"https://discord.com/api/webhooks/1424580081195683890/TJMeZ_R3BZGA2VoAawVu2Xg-AGFgkvBpKACjFHqwT50aHT7fagHmKqOFZ3-88zjViBLS","text":"=❌ **Blog Automation Failed!**\n\n**Workflow**: Manual Blog Automation\n**Timestamp**: {{ $now }}\n**Status**: Failed\n**Error**: {{ $json.error || $json.message || 'Unknown error' }}\n\n⚠️ Manual review required","options":{}},"id":"error-notification","name":"Error Notification","type":"n8n-nodes-base.discord","position":[688,384],"typeVersion":1},{"parameters":{"rule":{"interval":[{"daysInterval":2,"triggerAtHour":18}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-16,288],"id":"58c11fb5-975e-49f8-95fe-d1270e89bb64","name":"Schedule Trigger","retryOnFail":true,"alwaysOutputData":false}],"connections":{"Trigger Blog Automation":{"main":[[{"node":"Check Success","type":"main","index":0}]]},"Check Success":{"main":[[{"node":"Success Notification","type":"main","index":0}],[{"node":"Error Notification","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Trigger Blog Automation","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"0d7f8f30-6319-4f17-aa5e-8b961b934852","triggerCount":1,"shared":[{"createdAt":"2025-10-09T15:47:29.717Z","updatedAt":"2025-10-09T15:47:29.717Z","role":"workflow:owner","workflowId":"q5YFCKSXdLq1YD5j","projectId":"55VrbeDl3nbECwkj"}],"tags":[]}
