n8n-workflows/backups/2025-10-10-213501/manual-blog-automation-trigger-tdAwda77Mv7Mud3D.json
{"createdAt":"2025-10-09T12:54:54.904Z","updatedAt":"2025-10-09T15:31:30.660Z","id":"tdAwda77Mv7Mud3D","name":"Manual Blog Automation Trigger","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"http://127.0.0.1:4321/api/automation/blog-automation","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"automation-key-2025"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"force","value":false},{"name":"enableGitCommit","value":true},{"name":"enableDeployment","value":true}]},"options":{}},"id":"blog-automation-trigger","name":"Trigger Blog Automation","type":"n8n-nodes-base.httpRequest","position":[240,304],"typeVersion":4},{"parameters":{"conditions":{"options":[{"name":"success","value":"={{ $json.success === true }}"}]},"options":{}},"id":"check-success","name":"Check Success","type":"n8n-nodes-base.if","position":[464,304],"typeVersion":2},{"parameters":{"webhookUri":"https://discord.com/api/webhooks/1424580081195683890/TJMeZ_R3BZGA2VoAawVu2Xg-AGFgkvBpKACjFHqwT50aHT7fagHmKqOFZ3-88zjViBLS","text":"Sucess","options":{}},"id":"success-notification","name":"Success Notification","type":"n8n-nodes-base.discord","position":[688,240],"typeVersion":1},{"parameters":{"webhookUri":"https://discord.com/api/webhooks/1424580081195683890/TJMeZ_R3BZGA2VoAawVu2Xg-AGFgkvBpKACjFHqwT50aHT7fagHmKqOFZ3-88zjViBLS","text":"Failed","options":{}},"id":"error-notification","name":"Error Notification","type":"n8n-nodes-base.discord","position":[688,384],"typeVersion":1},{"parameters":{},"id":"manual-trigger","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","position":[48,304],"typeVersion":1}],"connections":{"Manual Trigger":{"main":[[{"node":"Trigger Blog Automation","type":"main","index":0}]]},"Trigger Blog Automation":{"main":[[{"node":"Check Success","type":"main","index":0}]]},"Check Success":{"main":[[{"node":"Success Notification","type":"main","index":0}],[{"node":"Error Notification","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"f9bbe8b1-ddcd-483f-9cf6-b2a9031d5e99","triggerCount":0,"shared":[{"createdAt":"2025-10-09T12:54:54.904Z","updatedAt":"2025-10-09T12:54:54.904Z","role":"workflow:owner","workflowId":"tdAwda77Mv7Mud3D","projectId":"55VrbeDl3nbECwkj"}],"tags":[]}
