n8n-workflows/backups/2025-10-10-213501/my-workflow-2-VmAkdZtjamTXJOtY.json
{"createdAt":"2025-09-06T10:41:21.489Z","updatedAt":"2025-10-04T13:22:17.514Z","id":"VmAkdZtjamTXJOtY","name":"My workflow 2","active":false,"isArchived":true,"nodes":[{"parameters":{"path":"vocode","options":{}},"id":"3b4ead7d-ea5f-49ff-ba85-d829cd0211c6","name":"Webhook (Vocode Transcript)","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[0,0],"webhookId":"a9803596-db6c-431e-b553-8b97859722c4"},{"parameters":{"url":"http://localhost:3000/mcp","options":{}},"id":"5d28e380-095c-4630-b2d2-6ca5f2f85431","name":"Claude/Ollama (Brain)","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[256,0]},{"parameters":{"options":{}},"id":"2eaf775b-d5db-4325-81ea-8fec4455bada","name":"Respond to Vocode","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[512,0]},{"parameters":{"functionCode":"return [{ json: { action: \"update_crm\", transcript: $json[\"transcript\"], reply: $json[\"text\"] }}];"},"id":"b4a0f2ab-7db9-4ea4-bbcb-ac747f7d5fd8","name":"Custom Automation (Example)","type":"n8n-nodes-base.function","typeVersion":1,"position":[512,208]}],"connections":{"Webhook (Vocode Transcript)":{"main":[[{"node":"Claude/Ollama (Brain)","type":"main","index":0}]]},"Claude/Ollama (Brain)":{"main":[[{"node":"Respond to Vocode","type":"main","index":0},{"node":"Custom Automation (Example)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"f63d3262-9764-4899-8c93-3c9cdf3b39f6","triggerCount":0,"shared":[{"createdAt":"2025-09-06T10:41:21.489Z","updatedAt":"2025-09-06T10:41:21.489Z","role":"workflow:owner","workflowId":"VmAkdZtjamTXJOtY","projectId":"55VrbeDl3nbECwkj"}],"tags":[]}
