n8n-workflows/backups/2025-10-10-213501/my-workflow-5-Zp8soDtBCDrBVFvC.json
{"createdAt":"2025-10-09T12:12:57.980Z","updatedAt":"2025-10-09T13:57:18.500Z","id":"Zp8soDtBCDrBVFvC","name":"My workflow 5","active":false,"isArchived":true,"nodes":[{"parameters":{"method":"POST","url":"http://your-server:4321/api/automation/blog-automation","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"automation-key-2025"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"force","value":false},{"name":"enableGitCommit","value":true},{"name":"enableDeployment","value":true}]},"options":{}},"id":"cbb11703-9699-4efc-8582-e61cad7eed67","name":"Trigger Blog Automation","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[-992,16],"credentials":{"httpHeaderAuth":{"id":"DVJqthniO8IXwAML","name":"Header Auth account"}}},{"parameters":{"conditions":{"options":[{"name":"success","value":"={{ $json.success === true }}"}]},"options":{}},"id":"8001799d-35c9-409e-ace9-ab113c895370","name":"Check Success","type":"n8n-nodes-base.if","typeVersion":2,"position":[-768,16]},{"parameters":{"options":{}},"id":"88489606-6365-4e77-85c0-7c628b756ca8","name":"Success Notification","type":"n8n-nodes-base.discord","typeVersion":1,"position":[-544,-48]},{"parameters":{"options":{}},"id":"702d20f5-adc0-4e27-8c77-3fe53c720bf2","name":"Error Notification","type":"n8n-nodes-base.discord","typeVersion":1,"position":[-544,96]}],"connections":{"Trigger Blog Automation":{"main":[[{"node":"Check Success","type":"main","index":0}]]},"Check Success":{"main":[[{"node":"Success Notification","type":"main","index":0}],[{"node":"Error Notification","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"8f310c4d-f17f-4107-8bcf-15436c8ed9e9","triggerCount":0,"shared":[{"createdAt":"2025-10-09T12:12:57.980Z","updatedAt":"2025-10-09T12:12:57.980Z","role":"workflow:owner","workflowId":"Zp8soDtBCDrBVFvC","projectId":"55VrbeDl3nbECwkj"}],"tags":[]}
