n8n-workflows/backups/2025-10-10-213501/my-workflow-1qM1QwYIoJWrzDtC.json
{"createdAt":"2025-09-03T15:40:31.265Z","updatedAt":"2025-09-04T13:36:37.839Z","id":"1qM1QwYIoJWrzDtC","name":"My workflow","active":false,"isArchived":false,"nodes":[{"parameters":{"endpointUrl":" http://localhost:3333/api/summarize","options":{}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1.1,"position":[80,704],"id":"9da96921-4122-47c7-8c33-0f4d8c874793","name":"MCP Client"},{"parameters":{"modelId":{"__rl":true,"value":"claude-3-haiku-20240307","mode":"list","cachedResultName":"claude-3-haiku-20240307"},"messages":{"values":[{"content":"=ask claude code to run it"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[304,112],"id":"d9f175b3-7653-44ff-8e5d-b6bd85a1ace8","name":"Message a model","credentials":{"anthropicApi":{"id":"9xMWYcvE7g5ZzcvZ","name":"Anthropic account"}}},{"parameters":{"path":"2fc72ad3-7adf-49a7-b7c9-c2492955edf3"},"type":"@n8n/n8n-nodes-langchain.mcpTrigger","typeVersion":2,"position":[128,496],"id":"e60de71a-f936-44da-9ff8-8743f39eb5ca","name":"MCP Server Trigger","webhookId":"2fc72ad3-7adf-49a7-b7c9-c2492955edf3"},{"parameters":{"content":"## Description\nThis workflow is created by WeblineIndia, it streamlines and automates the end-to-end process of managing recently added document files in Google Drive. It begins by identifying the most recently uploaded .doc file in a designated folder within Google Drive. The document's content is then directly retrieved and passed through an AI-powered summarization model that condenses the content into a concise and meaningful summary. Finally, the summarized content, along with relevant metadata such as the document's name, upload date, and other details, is systematically stored in a Google Sheet. This ensures easy reference, enhanced organization, and quick access to key information, making it an ideal solution for managing and summarizing large volumes of document data efficiently.","width":1280,"color":5},"id":"8ef4d641-d6b0-4914-8be1-40290fd66bc5","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[-416,592],"typeVersion":1},{"parameters":{"content":"# Google Doc Summarizer to Google Sheets\n","height":80,"width":800,"color":5},"id":"521727a9-5f8c-4d1d-b7bb-9fab76cbc5d7","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[-160,-176],"typeVersion":1},{"parameters":{"content":"## Store Summary in Sheet\n","height":280,"width":300,"color":5},"id":"4b6224bf-0106-41f1-8ad8-1425407e13fc","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[768,256],"typeVersion":1},{"parameters":{"content":"## AI Summarization\n","height":380,"width":440,"color":5},"id":"7953987b-3de6-4683-8810-e97e9f8c565f","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[224,32],"typeVersion":1},{"parameters":{"content":"## Get Document Content\n","height":260,"width":260,"color":5},"id":"be308292-8917-44dd-bb20-46f11db9374a","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-144,224],"typeVersion":1},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1M-Kau-3ul3BqkR2gwgwKm_RpsSFYDc85","mode":"list","cachedResultName":"1.Clients","cachedResultUrl":"https://drive.google.com/drive/folders/1M-Kau-3ul3BqkR2gwgwKm_RpsSFYDc85"},"event":"fileCreated","options":{}},"id":"881f7d58-a227-43a8-8d70-ad37263d4a81","name":"Google Drive ","type":"n8n-nodes-base.googleDriveTrigger","position":[-400,96],"notesInFlow":true,"typeVersion":1,"credentials":{"googleDriveOAuth2Api":{"id":"UueWBG5gSdw4L4qV","name":"Google Drive account"}},"notes":"Received the doc"},{"parameters":{"content":"## Get Latest File\n","height":260,"color":5},"id":"606e18ee-9dd7-46fb-a6a3-4e4f32d819c0","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-480,16],"typeVersion":1},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"list","value":"1s1v58pqGaVha9g_evNX4UEMchzteO7CyLNp87tcKJ1Q","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1s1v58pqGaVha9g_evNX4UEMchzteO7CyLNp87tcKJ1Q/edit?usp=drivesdk","cachedResultName":"Docs Summarise Data"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1s1v58pqGaVha9g_evNX4UEMchzteO7CyLNp87tcKJ1Q/edit#gid=0","cachedResultName":"Sheet1"},"columns":{"value":{"Name":"={{ $('Google Drive ').item.json.lastModifyingUser.displayName }}","Email ":"={{ $('Google Drive ').item.json.lastModifyingUser.emailAddress }}","Summarise Conetent data ":"={{ $json.message.content }}"},"schema":[{"id":"Email ","type":"string","display":true,"required":false,"displayName":"Email ","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Name","type":"string","display":true,"removed":false,"required":false,"displayName":"Name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Summarise Conetent data ","type":"string","display":true,"required":false,"displayName":"Summarise Conetent data ","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":[]},"options":{}},"id":"b4013050-b043-43d9-a218-92e32a2bcf18","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","position":[880,368],"typeVersion":4.5,"credentials":{"googleSheetsOAuth2Api":{"id":"9ikrPSqn6zokh7qt","name":"Google Sheets account"}}},{"parameters":{},"id":"e4fc654f-5c68-47af-bd15-5e576c84f854","name":"Calculator","type":"@n8n/n8n-nodes-langchain.toolCalculator","position":[544,272],"typeVersion":1},{"parameters":{},"id":"e1c62f1c-bf8f-4b59-a5f1-6c114b271a78","name":"Wikipedia","type":"@n8n/n8n-nodes-langchain.toolWikipedia","position":[288,272],"typeVersion":1},{"parameters":{"operation":"get","documentURL":"={{ $json.id }}"},"id":"87193ef8-b74b-4bd9-8fe7-68d1b5b74ad1","name":"Google Docs","type":"n8n-nodes-base.googleDocs","position":[-96,16],"typeVersion":2,"credentials":{"googleDocsOAuth2Api":{"id":"8lFadaX9pluGxbTm","name":"Google Docs account"}}},{"parameters":{"content":"# Claude MCP - Optimized for Speed\n\n## Choose Your Speed:\n- **FAST (<100ms):** Use `/api/fast` endpoint\n- **QUALITY (5-10s):** Use `/api/summarize` with Ollama\n\nThe workflow below uses the FAST option by default.","height":120,"width":600},"name":"Instructions","type":"n8n-nodes-base.stickyNote","position":[128,-352],"typeVersion":1,"id":"e4f2687f-5dd6-4830-b5b7-f403f4b7d1d4"},{"parameters":{"method":"POST","url":"http://localhost:3333/api/fast","sendBody":true,"specifyBody":"json","jsonBody":"={\"text\": \"{{ $json.content }}\", \"operation\": \"summarize\"}","options":{"timeout":5000}},"id":"31d1e9a1-aad7-40e4-a41a-58715d4e1942","name":"MCP Fast (<100ms)","type":"n8n-nodes-base.httpRequest","position":[768,0],"typeVersion":4.2,"notes":"Ultra-fast processing\nNo AI model\nBasic summarization"},{"parameters":{"content":"## Alternative: Quality Mode\nFor better summaries (5-10s), change the HTTP Request URL to:\n```\nhttp://localhost:3333/api/summarize\n```\nAnd body to:\n```json\n{\"text\": \"{{ $json.content }}\", \"model\": \"llama3.2:1b\"}\n```","height":150,"width":400},"name":"Quality Option","type":"n8n-nodes-base.stickyNote","position":[752,-256],"typeVersion":1,"id":"c10744d5-725b-47ac-ac9a-348b93019ab1"}],"connections":{"Message a model":{"main":[[{"node":"MCP Fast (<100ms)","type":"main","index":0}]]},"Google Drive ":{"main":[[{"node":"Google Docs","type":"main","index":0}]]},"Calculator":{"ai_tool":[[{"node":"Message a model","type":"ai_tool","index":0}]]},"Wikipedia":{"ai_tool":[[{"node":"Message a model","type":"ai_tool","index":0},{"node":"MCP Server Trigger","type":"ai_tool","index":0}]]},"Google Docs":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"MCP Fast (<100ms)":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Google Drive ":{"lastTimeChecked":"2025-09-05T22:04:40Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"60cb42ae-cbe9-4fca-90f4-84cc48a45e11","triggerCount":2,"shared":[{"createdAt":"2025-09-03T15:40:31.265Z","updatedAt":"2025-09-03T15:40:31.265Z","role":"workflow:owner","workflowId":"1qM1QwYIoJWrzDtC","projectId":"mzBnBG1RmOHIBQKj"}],"tags":[]}
