n8n-workflows/backups/2025-10-10-213501/my-workflow-6-2bgUVr7Zr8FXkdoj.json
{"createdAt":"2025-10-09T12:20:38.184Z","updatedAt":"2025-10-09T12:31:41.847Z","id":"2bgUVr7Zr8FXkdoj","name":"My workflow 6","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"http://localhost:4321/api/automation/blog-automation","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"automation-key-2025"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"force","value":false},{"name":"enableGitCommit","value":true},{"name":"enableDeployment","value":true}]},"options":{}},"id":"695cbe10-6b36-40d8-a1a0-2409b1cf7c23","name":"Trigger Blog Automation","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[-208,112],"credentials":{"httpHeaderAuth":{"id":"DVJqthniO8IXwAML","name":"Header Auth account"}}},{"parameters":{"conditions":{"options":[{"name":"success","value":"={{ $json.success === true }}"}]},"options":{}},"id":"643a4bb1-c58a-4130-bb59-5aef1dd7d446","name":"Check Success","type":"n8n-nodes-base.if","typeVersion":2,"position":[32,112]},{"parameters":{"webhookUri":"https://discord.com/api/webhooks/1424580081195683890/TJMeZ_R3BZGA2VoAawVu2Xg-AGFgkvBpKACjFHqwT50aHT7fagHmKqOFZ3-88zjViBLS","options":{}},"id":"2370081f-9f7a-45d0-b09a-434efaad1eb3","name":"Success Notification","type":"n8n-nodes-base.discord","typeVersion":1,"position":[240,48]},{"parameters":{"webhookUri":"https://discord.com/api/webhooks/1424580081195683890/TJMeZ_R3BZGA2VoAawVu2Xg-AGFgkvBpKACjFHqwT50aHT7fagHmKqOFZ3-88zjViBLS","options":{}},"id":"7a474e53-73c1-4a76-87e1-422885d97eef","name":"Error Notification","type":"n8n-nodes-base.discord","typeVersion":1,"position":[240,192]},{"parameters":{},"id":"989ce964-4ea0-4136-b9a7-9716b3744201","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-400,112]}],"connections":{"Manual Trigger":{"main":[[{"node":"Trigger Blog Automation","type":"main","index":0}]]},"Trigger Blog Automation":{"main":[[{"node":"Check Success","type":"main","index":0}]]},"Check Success":{"main":[[{"node":"Success Notification","type":"main","index":0}],[{"node":"Error Notification","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"6d2731fa-4e94-4082-815a-2df6c1824127","triggerCount":0,"shared":[{"createdAt":"2025-10-09T12:20:38.184Z","updatedAt":"2025-10-09T12:20:38.184Z","role":"workflow:owner","workflowId":"2bgUVr7Zr8FXkdoj","projectId":"55VrbeDl3nbECwkj"}],"tags":[]}
