n8n-workflows/backups/2025-10-10-213501/my-workflow-3-oqBuWvV62lDKPKok.json
{"createdAt":"2025-09-07T14:02:02.188Z","updatedAt":"2025-10-04T13:22:21.767Z","id":"oqBuWvV62lDKPKok","name":"My workflow 3","active":false,"isArchived":true,"nodes":[{"parameters":{"schemaType":"manual","inputSchema":"{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"name\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n      \"email\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n      \"linkedin\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n      \"score\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t\t\n\t}\n}"},"id":"df8a88d8-a092-4f8e-8860-6a5d652bb939","name":"Structured Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[1552,208],"typeVersion":1.2},{"parameters":{"content":"## Resume Screener from Gmail to Sheets\n\n### 📃Before you get started, you'll need:\n- [n8n installation](https://n8n.partnerlinks.io/n8nTTVideoGenTemplate) \n- [OpenAI API Key](https://platform.openai.com/api-keys)\n- Google Sheets API enabled in [Google Cloud Console](https://console.cloud.google.com/apis/api/sheets.googleapis.com/overview)\n- Google Drive API enabled in [Google Cloud Console](https://console.cloud.google.com/apis/api/drive.googleapis.com/overview)\n- OAuth 2.0 Client ID and Client Secret from your [Google Cloud Console Credentials](https://console.cloud.google.com/apis/credentials)\n","height":260,"width":480},"id":"0b30a780-e817-4194-9976-593add4d2f30","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[64,-32],"typeVersion":1},{"parameters":{"operation":"pdf","binaryPropertyName":"attachment_0","options":{}},"id":"918655c8-048b-43e5-bddd-6f81181d5745","name":"Extract text from PDF File","type":"n8n-nodes-base.extractFromFile","position":[1152,-16],"typeVersion":1},{"parameters":{"promptType":"define","text":"=Here is the resume:\n\n{{ $json.text }}","hasOutputParser":true,"options":{"systemMessage":"You are an invaluable assistant. You were given a resume. You have to help me analyze the resume and give it a score based on the details available in the resume. Also, extract the name, email, and LinkedIn profile from the resume."}},"id":"50692840-a187-4cc7-99b9-bc879b636f82","name":"AI Agent to evaluate Resume","type":"@n8n/n8n-nodes-langchain.agent","position":[1376,-16],"typeVersion":1.8},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"id":"6c9dbcdd-eb9f-40b1-bedd-95e903ab728f","name":"OpenAI Chat Model (GPT 4o-mini)","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[1344,208],"typeVersion":1.2},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"list","value":"1SGYsuJI2YJVztZZmSLsFZ0lbUHnxm0V9r3c8S5-2q74","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1SGYsuJI2YJVztZZmSLsFZ0lbUHnxm0V9r3c8S5-2q74/edit?usp=drivesdk","cachedResultName":"Lead Generation"},"sheetName":{"__rl":true,"mode":"list","value":781640061,"cachedResultUrl":"https://docs.google.com/spreadsheets/d/1SGYsuJI2YJVztZZmSLsFZ0lbUHnxm0V9r3c8S5-2q74/edit#gid=781640061","cachedResultName":"Resume Score"},"columns":{"value":{"Name":"={{ $json.output.name }}","Email":"={{ $json.output.email }}","Score":"={{ $json.output.score }}","LinkedIn":"={{ $json.output.linkedin }}","Resume text":"={{ $('Extract text from PDF File').item.json.text }}"},"schema":[{"id":"Name","type":"string","display":true,"required":false,"displayName":"Name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Email","type":"string","display":true,"required":false,"displayName":"Email","defaultMatch":false,"canBeUsedToMatch":true},{"id":"LinkedIn","type":"string","display":true,"removed":false,"required":false,"displayName":"LinkedIn","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Score","type":"string","display":true,"required":false,"displayName":"Score","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Resume text","type":"string","display":true,"required":false,"displayName":"Resume text","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"useAppend":true}},"id":"d84bd133-343c-44d2-bc2c-32dc8f44fd44","name":"Add Resume Evaluation to Google Sheets","type":"n8n-nodes-base.googleSheets","position":[1744,-16],"typeVersion":4.5},{"parameters":{"pollTimes":{"item":[{"mode":"everyHour","minute":1}]},"simple":false,"filters":{"labelIds":["UNREAD"],"q":"has:attachment","readStatus":"unread"},"options":{"downloadAttachments":true}},"id":"be17d6b7-8799-4d10-b706-d3e246dc1887","name":"Trigger on new Email Received","type":"n8n-nodes-base.gmailTrigger","position":[896,-16],"typeVersion":1.2,"credentials":{"gmailOAuth2":{"id":"ODMN20le1QesvKAQ","name":"Gmail account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5","mode":"list","cachedResultName":"GPT-5"},"messages":{"values":[{}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1696,352],"id":"7d59a671-ff7d-412c-bb49-89dfa71282f2","name":"Message a model","credentials":{"openAiApi":{"id":"Po445m7fryvO4evp","name":"OpenAi account"}}}],"connections":{"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent to evaluate Resume","type":"ai_outputParser","index":0}]]},"Extract text from PDF File":{"main":[[{"node":"AI Agent to evaluate Resume","type":"main","index":0}]]},"AI Agent to evaluate Resume":{"main":[[{"node":"Add Resume Evaluation to Google Sheets","type":"main","index":0}]]},"Trigger on new Email Received":{"main":[[{"node":"Extract text from PDF File","type":"main","index":0}]]},"OpenAI Chat Model (GPT 4o-mini)":{"ai_languageModel":[[{"node":"AI Agent to evaluate Resume","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"667e43a0-224b-48ad-8542-1c7cff55ee6b","triggerCount":0,"shared":[{"createdAt":"2025-09-07T14:02:02.188Z","updatedAt":"2025-09-07T14:02:02.188Z","role":"workflow:owner","workflowId":"oqBuWvV62lDKPKok","projectId":"55VrbeDl3nbECwkj"}],"tags":[]}
