n8n-workflows/backups/2025-10-10-213501/performance-monitoring-→-analytics-→-report-generation-→-client-delivery-bM4PQO8XBloDa3N2.json
{"createdAt":"2025-09-05T21:52:55.525Z","updatedAt":"2025-10-04T13:21:00.509Z","id":"bM4PQO8XBloDa3N2","name":"Performance Monitoring → Analytics → Report Generation → Client Delivery","active":false,"isArchived":false,"nodes":[{"parameters":{"triggerTime":"0 6 * * *","timezone":"Australia/Sydney"},"id":"daily-performance-trigger","name":"Daily Performance Analysis","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[240,300]},{"parameters":{"operation":"executeQuery","query":"SELECT c.content_id, c.title, c.published_at, c.content_type, c.target_keywords, cp.views, cp.clicks, cp.impressions, cp.avg_position, cp.ctr, s.facebook_shares, s.linkedin_shares, s.twitter_shares, s.total_engagement FROM content c LEFT JOIN content_performance cp ON c.content_id = cp.content_id LEFT JOIN social_metrics s ON c.content_id = s.content_id WHERE c.published_at >= NOW() - INTERVAL '30 days' AND c.status = 'published' ORDER BY cp.views DESC","credentials":{"postgres":{"id":"postgres-credentials","name":"PostgreSQL Database"}}},"id":"fetch-content-performance","name":"Fetch Content Performance Data","type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[460,200]},{"parameters":{"method":"GET","url":"https://www.googleapis.com/analytics/v3/data/ga","sendQuery":true,"queryParameters":{"parameters":[{"name":"ids","value":"ga:{{ $env.GA_VIEW_ID }}"},{"name":"start-date","value":"30daysAgo"},{"name":"end-date","value":"today"},{"name":"metrics","value":"ga:sessions,ga:users,ga:pageviews,ga:bounceRate,ga:avgSessionDuration,ga:goalConversionsAll,ga:goalConversionRateAll"},{"name":"dimensions","value":"ga:pagePath,ga:pageTitle"},{"name":"sort","value":"-ga:pageviews"},{"name":"max-results","value":"100"},{"name":"access_token","value":"{{ $env.GOOGLE_ANALYTICS_TOKEN }}"}]}},"id":"google-analytics-data","name":"Fetch Google Analytics Data","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[460,300]},{"parameters":{"method":"GET","url":"https://www.googleapis.com/webmasters/v3/sites/https%3A%2F%2Ftheprofitplatform.com.au/searchAnalytics/query","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer {{ $env.GOOGLE_SEARCH_CONSOLE_TOKEN }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"startDate","value":"{{ $now.minus({days: 30}).toFormat('yyyy-MM-dd') }}"},{"name":"endDate","value":"{{ $now.toFormat('yyyy-MM-dd') }}"},{"name":"dimensions","value":"[\"page\", \"query\"]"},{"name":"rowLimit","value":1000}]}},"id":"search-console-data","name":"Fetch Search Console Data","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[460,400]},{"parameters":{"operation":"executeQuery","query":"SELECT client_id, client_name, content_quota, content_used, billing_status, contract_value, last_report_sent FROM clients WHERE status = 'active' ORDER BY contract_value DESC","credentials":{"postgres":{"id":"postgres-credentials","name":"PostgreSQL Database"}}},"id":"fetch-client-data","name":"Fetch Active Client Data","type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[460,500]},{"parameters":{"jsCode":"// Comprehensive performance data analysis\nconst contentData = items[0]?.json || [];\nconst gaData = items[1]?.json?.rows || [];\nconst gscData = items[2]?.json?.rows || [];\nconst clientData = items[3]?.json || [];\n\n// Process content performance\nconst contentMetrics = contentData.map(content => ({\n  content_id: content.content_id,\n  title: content.title,\n  published_at: content.published_at,\n  content_type: content.content_type,\n  keywords: content.target_keywords,\n  database_views: content.views || 0,\n  clicks: content.clicks || 0,\n  impressions: content.impressions || 0,\n  avg_position: content.avg_position || 0,\n  ctr: content.ctr || 0,\n  social_shares: {\n    facebook: content.facebook_shares || 0,\n    linkedin: content.linkedin_shares || 0,\n    twitter: content.twitter_shares || 0,\n    total: content.total_engagement || 0\n  }\n}));\n\n// Process Google Analytics data\nconst gaMetrics = gaData.map(row => ({\n  page_path: row[0],\n  page_title: row[1],\n  sessions: parseInt(row[2]) || 0,\n  users: parseInt(row[3]) || 0,\n  pageviews: parseInt(row[4]) || 0,\n  bounce_rate: parseFloat(row[5]) || 0,\n  avg_session_duration: parseFloat(row[6]) || 0,\n  conversions: parseInt(row[7]) || 0,\n  conversion_rate: parseFloat(row[8]) || 0\n}));\n\n// Process Search Console data\nconst gscMetrics = gscData.map(row => ({\n  page: row.keys[0],\n  query: row.keys[1],\n  clicks: row.clicks || 0,\n  impressions: row.impressions || 0,\n  ctr: row.ctr || 0,\n  position: row.position || 0\n}));\n\n// Calculate overall performance metrics\nconst totalSessions = gaMetrics.reduce((sum, page) => sum + page.sessions, 0);\nconst totalUsers = gaMetrics.reduce((sum, page) => sum + page.users, 0);\nconst totalPageviews = gaMetrics.reduce((sum, page) => sum + page.pageviews, 0);\nconst avgBounceRate = gaMetrics.length > 0 ? gaMetrics.reduce((sum, page) => sum + page.bounce_rate, 0) / gaMetrics.length : 0;\nconst totalConversions = gaMetrics.reduce((sum, page) => sum + page.conversions, 0);\n\nconst totalClicks = gscMetrics.reduce((sum, row) => sum + row.clicks, 0);\nconst totalImpressions = gscMetrics.reduce((sum, row) => sum + row.impressions, 0);\nconst avgCTR = totalImpressions > 0 ? (totalClicks / totalImpressions) * 100 : 0;\nconst avgPosition = gscMetrics.length > 0 ? gscMetrics.reduce((sum, row) => sum + row.position, 0) / gscMetrics.length : 0;\n\n// Top performing content\nconst topContent = contentMetrics\n  .filter(content => content.database_views > 0)\n  .sort((a, b) => b.database_views - a.database_views)\n  .slice(0, 10);\n\n// Content performance insights\nconst performanceInsights = {\n  top_performing_types: {},\n  keyword_performance: {},\n  content_velocity: contentMetrics.length, // Content published in last 30 days\n  avg_social_engagement: contentMetrics.reduce((sum, content) => sum + content.social_shares.total, 0) / contentMetrics.length || 0\n};\n\n// Group by content type\ncontentMetrics.forEach(content => {\n  if (!performanceInsights.top_performing_types[content.content_type]) {\n    performanceInsights.top_performing_types[content.content_type] = {\n      count: 0,\n      total_views: 0,\n      total_clicks: 0,\n      avg_position: 0\n    };\n  }\n  performanceInsights.top_performing_types[content.content_type].count++;\n  performanceInsights.top_performing_types[content.content_type].total_views += content.database_views;\n  performanceInsights.top_performing_types[content.content_type].total_clicks += content.clicks;\n});\n\n// Client performance summary\nconst clientMetrics = clientData.map(client => ({\n  ...client,\n  content_utilization: client.content_quota > 0 ? (client.content_used / client.content_quota) * 100 : 0,\n  needs_report: !client.last_report_sent || new Date(client.last_report_sent) < new Date(Date.now() - 7 * 24 * 60 * 60 * 1000)\n}));\n\n// Compile comprehensive performance report\nconst performanceReport = {\n  report_date: new Date().toISOString(),\n  reporting_period: '30 days',\n  \n  // Overall metrics\n  overview: {\n    total_sessions: totalSessions,\n    total_users: totalUsers,\n    total_pageviews: totalPageviews,\n    avg_bounce_rate: Math.round(avgBounceRate * 100) / 100,\n    total_conversions: totalConversions,\n    conversion_rate: totalPageviews > 0 ? Math.round((totalConversions / totalPageviews) * 10000) / 100 : 0\n  },\n  \n  // SEO metrics\n  seo_performance: {\n    total_clicks: totalClicks,\n    total_impressions: totalImpressions,\n    avg_ctr: Math.round(avgCTR * 100) / 100,\n    avg_position: Math.round(avgPosition * 10) / 10,\n    top_queries: gscMetrics\n      .sort((a, b) => b.clicks - a.clicks)\n      .slice(0, 10)\n      .map(row => ({ query: row.query, clicks: row.clicks, position: row.position }))\n  },\n  \n  // Content performance\n  content_performance: {\n    total_content_pieces: contentMetrics.length,\n    top_performers: topContent.slice(0, 5),\n    performance_by_type: performanceInsights.top_performing_types,\n    avg_social_engagement: Math.round(performanceInsights.avg_social_engagement)\n  },\n  \n  // Client insights\n  client_insights: {\n    active_clients: clientData.length,\n    total_contract_value: clientData.reduce((sum, client) => sum + (client.contract_value || 0), 0),\n    clients_needing_reports: clientMetrics.filter(client => client.needs_report).length,\n    avg_content_utilization: clientMetrics.reduce((sum, client) => sum + client.content_utilization, 0) / clientMetrics.length || 0\n  },\n  \n  // Performance trends (simplified)\n  trends: {\n    traffic_trend: totalSessions > 10000 ? 'increasing' : totalSessions > 5000 ? 'stable' : 'needs_attention',\n    seo_trend: avgPosition < 10 ? 'excellent' : avgPosition < 20 ? 'good' : 'needs_improvement',\n    content_trend: contentMetrics.length > 20 ? 'high_velocity' : contentMetrics.length > 10 ? 'moderate' : 'low_velocity'\n  },\n  \n  // Action items\n  action_items: [\n    avgPosition > 15 ? 'Focus on improving average search position' : null,\n    avgBounceRate > 70 ? 'Optimize content to reduce bounce rate' : null,\n    totalConversions < 50 ? 'Implement conversion optimization strategies' : null,\n    performanceInsights.avg_social_engagement < 5 ? 'Boost social media engagement' : null\n  ].filter(Boolean)\n};\n\nreturn [{ json: performanceReport }];"},"id":"compile-performance-analytics","name":"Compile Performance Analytics","type":"n8n-nodes-base.code","typeVersion":2,"position":[680,350]},{"parameters":{"method":"POST","url":"http://localhost:11434/api/generate","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"mistral:7b"},{"name":"prompt","value":"Generate comprehensive performance insights and recommendations based on this data: Sessions: {{ $json.overview.total_sessions }}, Users: {{ $json.overview.total_users }}, Conversions: {{ $json.overview.total_conversions }}, Avg Position: {{ $json.seo_performance.avg_position }}, CTR: {{ $json.seo_performance.avg_ctr }}%, Content Pieces: {{ $json.content_performance.total_content_pieces }}. Top content: {{ $json.content_performance.top_performers.slice(0,3).map(c => c.title).join(', ') }}. Create: 1) Executive summary with key wins and concerns 2) 5 strategic recommendations 3) Performance benchmarking vs industry standards 4) Next 30-day action plan. Focus on Australian market context and ROI optimization."},{"name":"stream","value":false}]}},"id":"ai-performance-insights","name":"Generate AI Performance Insights","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[900,350]},{"parameters":{"jsCode":"// Create professional HTML report\nconst data = items[0].json;\nconst aiInsights = items[1].json.response;\n\nconst htmlReport = `\n<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Content Performance Report - ${new Date(data.report_date).toLocaleDateString('en-AU')}</title>\n    <style>\n        body {\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            line-height: 1.6;\n            color: #333;\n            max-width: 1200px;\n            margin: 0 auto;\n            padding: 20px;\n            background: #f8f9fa;\n        }\n        .header {\n            background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n            color: white;\n            padding: 30px;\n            border-radius: 10px;\n            text-align: center;\n            margin-bottom: 30px;\n        }\n        .metrics-grid {\n            display: grid;\n            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));\n            gap: 20px;\n            margin-bottom: 30px;\n        }\n        .metric-card {\n            background: white;\n            padding: 25px;\n            border-radius: 8px;\n            box-shadow: 0 2px 10px rgba(0,0,0,0.1);\n            text-align: center;\n        }\n        .metric-value {\n            font-size: 2.5em;\n            font-weight: bold;\n            color: #667eea;\n            display: block;\n        }\n        .metric-label {\n            color: #666;\n            text-transform: uppercase;\n            font-size: 0.9em;\n            letter-spacing: 1px;\n        }\n        .section {\n            background: white;\n            padding: 30px;\n            border-radius: 8px;\n            box-shadow: 0 2px 10px rgba(0,0,0,0.1);\n            margin-bottom: 30px;\n        }\n        .section h2 {\n            color: #333;\n            border-bottom: 3px solid #667eea;\n            padding-bottom: 10px;\n        }\n        .top-content {\n            display: grid;\n            gap: 15px;\n        }\n        .content-item {\n            padding: 15px;\n            border-left: 4px solid #667eea;\n            background: #f8f9fa;\n            border-radius: 4px;\n        }\n        .trend-indicator {\n            display: inline-block;\n            padding: 5px 10px;\n            border-radius: 20px;\n            font-size: 0.8em;\n            font-weight: bold;\n            text-transform: uppercase;\n        }\n        .trend-excellent { background: #d4edda; color: #155724; }\n        .trend-good { background: #cce5ff; color: #0056b3; }\n        .trend-needs-attention { background: #fff3cd; color: #856404; }\n        .action-items li {\n            padding: 10px 0;\n            border-bottom: 1px solid #eee;\n        }\n        .ai-insights {\n            background: linear-gradient(135deg, #f093fb 0%, #f5576c 100%);\n            color: white;\n            padding: 25px;\n            border-radius: 8px;\n            margin-top: 30px;\n        }\n        .footer {\n            text-align: center;\n            padding: 20px;\n            color: #666;\n            border-top: 1px solid #eee;\n            margin-top: 30px;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"header\">\n        <h1>📊 Content Empire Performance Report</h1>\n        <p>Period: ${data.reporting_period} | Generated: ${new Date(data.report_date).toLocaleDateString('en-AU', { \n            weekday: 'long', \n            year: 'numeric', \n            month: 'long', \n            day: 'numeric' \n        })}</p>\n    </div>\n\n    <div class=\"metrics-grid\">\n        <div class=\"metric-card\">\n            <span class=\"metric-value\">${data.overview.total_sessions.toLocaleString()}</span>\n            <div class=\"metric-label\">Sessions</div>\n        </div>\n        <div class=\"metric-card\">\n            <span class=\"metric-value\">${data.overview.total_users.toLocaleString()}</span>\n            <div class=\"metric-label\">Users</div>\n        </div>\n        <div class=\"metric-card\">\n            <span class=\"metric-value\">${data.overview.total_conversions}</span>\n            <div class=\"metric-label\">Conversions</div>\n        </div>\n        <div class=\"metric-card\">\n            <span class=\"metric-value\">${data.seo_performance.avg_position}</span>\n            <div class=\"metric-label\">Avg Position</div>\n        </div>\n    </div>\n\n    <div class=\"section\">\n        <h2>🎯 Performance Trends</h2>\n        <p><strong>Traffic:</strong> <span class=\"trend-indicator trend-${data.trends.traffic_trend.replace('_', '-')}\">${data.trends.traffic_trend.replace('_', ' ')}</span></p>\n        <p><strong>SEO:</strong> <span class=\"trend-indicator trend-${data.trends.seo_trend}\">${data.trends.seo_trend}</span></p>\n        <p><strong>Content Velocity:</strong> <span class=\"trend-indicator trend-${data.trends.content_trend.replace('_', '-')}\">${data.trends.content_trend.replace('_', ' ')}</span></p>\n    </div>\n\n    <div class=\"section\">\n        <h2>🏆 Top Performing Content</h2>\n        <div class=\"top-content\">\n            ${data.content_performance.top_performers.slice(0,5).map(content => `\n                <div class=\"content-item\">\n                    <h4>${content.title}</h4>\n                    <p><strong>Views:</strong> ${content.database_views.toLocaleString()} | \n                       <strong>Clicks:</strong> ${content.clicks} | \n                       <strong>Social Shares:</strong> ${content.social_shares.total}</p>\n                </div>\n            `).join('')}\n        </div>\n    </div>\n\n    <div class=\"section\">\n        <h2>🔍 SEO Performance</h2>\n        <div class=\"metrics-grid\">\n            <div class=\"metric-card\">\n                <span class=\"metric-value\">${data.seo_performance.total_clicks.toLocaleString()}</span>\n                <div class=\"metric-label\">Total Clicks</div>\n            </div>\n            <div class=\"metric-card\">\n                <span class=\"metric-value\">${data.seo_performance.total_impressions.toLocaleString()}</span>\n                <div class=\"metric-label\">Impressions</div>\n            </div>\n            <div class=\"metric-card\">\n                <span class=\"metric-value\">${data.seo_performance.avg_ctr}%</span>\n                <div class=\"metric-label\">Avg CTR</div>\n            </div>\n        </div>\n        <h4>Top Search Queries:</h4>\n        <ul>\n            ${data.seo_performance.top_queries.slice(0,5).map(query => \n                `<li><strong>${query.query}:</strong> ${query.clicks} clicks (Position ${query.position})</li>`\n            ).join('')}\n        </ul>\n    </div>\n\n    ${data.action_items.length > 0 ? `\n    <div class=\"section\">\n        <h2>⚡ Action Items</h2>\n        <ul class=\"action-items\">\n            ${data.action_items.map(item => `<li>${item}</li>`).join('')}\n        </ul>\n    </div>\n    ` : ''}\n\n    <div class=\"ai-insights\">\n        <h2>🤖 AI-Generated Insights & Recommendations</h2>\n        <div style=\"white-space: pre-line; font-size: 1.1em; line-height: 1.8;\">${aiInsights}</div>\n    </div>\n\n    <div class=\"footer\">\n        <p>Report generated by Content Empire Analytics | theprofitplatform.com.au</p>\n        <p><em>This automated report provides insights to optimize your content strategy and drive business growth.</em></p>\n    </div>\n</body>\n</html>\n`;\n\nreturn [{\n  json: {\n    report_html: htmlReport,\n    report_data: data,\n    file_name: `content-performance-report-${new Date().toISOString().split('T')[0]}.html`,\n    summary: {\n      sessions: data.overview.total_sessions,\n      users: data.overview.total_users,\n      conversions: data.overview.total_conversions,\n      top_content_count: data.content_performance.top_performers.length,\n      action_items_count: data.action_items.length\n    }\n  }\n}];"},"id":"generate-html-report","name":"Generate Professional HTML Report","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,350]},{"parameters":{"method":"POST","url":"https://api.theprofitplatform.com.au/api/v1/reports/store","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer {{ $env.API_TOKEN }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"report_type","value":"performance_analysis"},{"name":"report_html","value":"{{ $json.report_html }}"},{"name":"report_data","value":"{{ JSON.stringify($json.report_data) }}"},{"name":"file_name","value":"{{ $json.file_name }}"},{"name":"summary","value":"{{ JSON.stringify($json.summary) }}"},{"name":"created_at","value":"{{ new Date().toISOString() }}"}]}},"id":"store-performance-report","name":"Store Performance Report","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1340,350]},{"parameters":{"operation":"executeQuery","query":"SELECT client_id, client_name, email, report_frequency FROM clients WHERE status = 'active' AND (last_report_sent IS NULL OR last_report_sent <= NOW() - INTERVAL '7 days') ORDER BY contract_value DESC","credentials":{"postgres":{"id":"postgres-credentials","name":"PostgreSQL Database"}}},"id":"fetch-clients-needing-reports","name":"Fetch Clients Needing Reports","type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[1340,200]},{"parameters":{"message":"Dear {{ $json.client_name }},\\n\\nYour weekly Content Empire performance report is ready! Here are the highlights from the past 30 days:\\n\\n📊 **Key Metrics:**\\n• Total Sessions: {{ $('Generate Professional HTML Report').item.json.summary.sessions.toLocaleString() }}\\n• Unique Users: {{ $('Generate Professional HTML Report').item.json.summary.users.toLocaleString() }}\\n• Conversions: {{ $('Generate Professional HTML Report').item.json.summary.conversions }}\\n• Content Pieces: {{ $('Generate Professional HTML Report').item.json.summary.top_content_count }}\\n\\n🎯 **Performance Insights:**\\n{{ $('Generate AI Performance Insights').item.json.response.substring(0, 300) }}...\\n\\n{{ $('Generate Professional HTML Report').item.json.summary.action_items_count > 0 ? `⚡ **Action Items:** ${$('Generate Professional HTML Report').item.json.summary.action_items_count} optimization opportunities identified` : '✅ **Great News:** All metrics are performing well!' }}\\n\\n**View Full Report:** https://dashboard.theprofitplatform.com.au/reports/{{ $('Store Performance Report').item.json.report_id }}\\n\\nQuestions about your results? Reply to this email or schedule a strategy call: https://calendly.com/theprofitplatform\\n\\nBest regards,\\nThe Content Empire Team\\ntheprofitplatform.com.au\\n\\n---\\n*This automated report is generated daily to keep you informed of your content performance. Your success is our priority.*","subject":"📈 Your Content Performance Report - {{ new Date().toLocaleDateString('en-AU', { month: 'long', day: 'numeric' }) }}","toEmail":"{{ $json.email }}","options":{"allowUnauthorizedCerts":false,"ccEmail":"reports@theprofitplatform.com.au","bccEmail":"","attachments":[{"name":"{{ $('Generate Professional HTML Report').item.json.file_name }}","data":"{{ $('Generate Professional HTML Report').item.json.report_html }}","type":"text/html"}]},"credentials":{"smtp":{"id":"smtp-credentials","name":"SMTP Account"}}},"id":"send-client-reports","name":"Send Performance Reports to Clients","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1560,200]},{"parameters":{"operation":"executeQuery","query":"UPDATE clients SET last_report_sent = NOW() WHERE client_id = $1","additionalFields":{"values":{"values":["={{ $('Fetch Clients Needing Reports').item.json.client_id }}"]}},"credentials":{"postgres":{"id":"postgres-credentials","name":"PostgreSQL Database"}}},"id":"update-client-report-status","name":"Update Client Report Status","type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[1780,200]},{"parameters":{"message":"📊 **Daily Performance Summary**\\n\\n**Overall Performance:**\\n• Sessions: {{ $('Generate Professional HTML Report').item.json.summary.sessions.toLocaleString() }}\\n• Users: {{ $('Generate Professional HTML Report').item.json.summary.users.toLocaleString() }}\\n• Conversions: {{ $('Generate Professional HTML Report').item.json.summary.conversions }}\\n\\n**Content Performance:**\\n• Active Content: {{ $('Generate Professional HTML Report').item.json.summary.top_content_count }} pieces\\n{{ $('Generate Professional HTML Report').item.json.summary.action_items_count > 0 ? `• Action Items: ${$('Generate Professional HTML Report').item.json.summary.action_items_count} optimization opportunities` : '• Status: All metrics healthy' }}\\n\\n**Client Reports:**\\n• Reports Sent: {{ $('Fetch Clients Needing Reports').all().length }} clients updated\\n\\n**Quick Actions:**\\n🔍 [View Dashboard](https://dashboard.theprofitplatform.com.au)\\n📈 [Full Analytics](https://dashboard.theprofitplatform.com.au/analytics)\\n📊 [Latest Report](https://dashboard.theprofitplatform.com.au/reports/latest)\\n\\n*Generated automatically by Content Empire Analytics*","subject":"📊 Daily Performance Summary - {{ new Date().toLocaleDateString('en-AU') }}","options":{"allowUnauthorizedCerts":false,"ccEmail":"","bccEmail":""},"credentials":{"smtp":{"id":"smtp-credentials","name":"SMTP Account"}}},"id":"internal-performance-summary","name":"Send Internal Performance Summary","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1560,400]}],"connections":{"Daily Performance Analysis":{"main":[[{"node":"Fetch Content Performance Data","type":"main","index":0},{"node":"Fetch Google Analytics Data","type":"main","index":0},{"node":"Fetch Search Console Data","type":"main","index":0},{"node":"Fetch Active Client Data","type":"main","index":0}]]},"Fetch Content Performance Data":{"main":[[{"node":"Compile Performance Analytics","type":"main","index":0}]]},"Fetch Google Analytics Data":{"main":[[{"node":"Compile Performance Analytics","type":"main","index":1}]]},"Fetch Search Console Data":{"main":[[{"node":"Compile Performance Analytics","type":"main","index":2}]]},"Fetch Active Client Data":{"main":[[{"node":"Compile Performance Analytics","type":"main","index":3}]]},"Compile Performance Analytics":{"main":[[{"node":"Generate AI Performance Insights","type":"main","index":0}]]},"Generate AI Performance Insights":{"main":[[{"node":"Generate Professional HTML Report","type":"main","index":1}]]},"Generate Professional HTML Report":{"main":[[{"node":"Store Performance Report","type":"main","index":0},{"node":"Fetch Clients Needing Reports","type":"main","index":0}]]},"Store Performance Report":{"main":[[{"node":"Send Internal Performance Summary","type":"main","index":0}]]},"Fetch Clients Needing Reports":{"main":[[{"node":"Send Performance Reports to Clients","type":"main","index":0}]]},"Send Performance Reports to Clients":{"main":[[{"node":"Update Client Report Status","type":"main","index":0}]]}},"settings":{},"staticData":{"node:Daily Performance Analysis":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"076c43a5-8e7f-4420-8326-2a91bfd6c708","triggerCount":1,"shared":[{"createdAt":"2025-09-05T21:52:55.525Z","updatedAt":"2025-09-05T21:52:55.525Z","role":"workflow:owner","workflowId":"bM4PQO8XBloDa3N2","projectId":"55VrbeDl3nbECwkj"}],"tags":[]}
