n8n-workflows/backups/2025-10-10-213501/seo-optimization-pipeline-A6RfMzx1J2BxuCiy.json
{"createdAt":"2025-09-05T21:51:42.091Z","updatedAt":"2025-09-21T14:24:07.441Z","id":"A6RfMzx1J2BxuCiy","name":"SEO Optimization Pipeline","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":6}]}},"id":"schedule-trigger","name":"Every 6 Hours","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[250,300]},{"parameters":{"method":"POST","url":"https://api.theprofitplatform.com.au/api/v1/auth/login","sendBody":true,"bodyParameters":{"parameters":[{"name":"email","value":"demo@example.com"},{"name":"password","value":"demo123456"}]}},"id":"api-login","name":"API Login","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[450,300]},{"parameters":{"method":"GET","url":"https://api.theprofitplatform.com.au/api/v1/content/history","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('API Login').item.json.access_token }}"}]},"sendQuery":true,"queryParameters":{"parameters":[{"name":"page_size","value":"10"}]}},"id":"get-recent-content","name":"Get Recent Content","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[650,300]},{"parameters":{"fieldToSplitOut":"history","options":{}},"id":"split-content","name":"Split Content Items","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[850,300]},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.seo_score }}","operation":"smaller","value2":0.7}]}},"id":"check-seo-score","name":"Low SEO Score?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1050,300]},{"parameters":{"method":"GET","url":"=https://api.theprofitplatform.com.au/api/v1/content/{{ $json.content_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('API Login').item.json.access_token }}"}]}},"id":"get-full-content","name":"Get Full Content","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1250,250]},{"parameters":{"method":"POST","url":"https://api.theprofitplatform.com.au/api/v1/seo/analyze","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('API Login').item.json.access_token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $json.content }}"},{"name":"keywords","value":"={{ $json.keywords || [] }}"}]}},"id":"analyze-seo","name":"Analyze SEO","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1450,250]},{"parameters":{"method":"POST","url":"https://api.theprofitplatform.com.au/api/v1/content/generate","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('API Login').item.json.access_token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"topic","value":"=Rewrite and optimize this content for SEO: {{ $('Get Full Content').item.json.topic }}"},{"name":"content_type","value":"={{ $('Get Full Content').item.json.content_type }}"},{"name":"target_length","value":"={{ Math.max(1000, $('Get Full Content').item.json.word_count) }}"},{"name":"keywords","value":"={{ $('Analyze SEO').item.json.meta_suggestions.keywords.split(', ') }}"},{"name":"tone","value":"professional"}]},"options":{"timeout":180000}},"id":"optimize-content","name":"Generate Optimized Version","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1650,250]},{"parameters":{"subject":"=SEO Optimization Report - {{ new Date().toLocaleDateString() }}","toEmail":"admin@theprofitplatform.com.au","text":"=SEO Optimization Pipeline Results:\n\nContent Analyzed: {{ $('Split Content Items').context.noItemsLeft }}\nContent Needing Optimization: {{ $('Low SEO Score?').context.noItemsLeft }}\n\nOptimized Content IDs:\n{{ $('Generate Optimized Version').all().map(item => item.json.content_id).join('\\n') }}\n\nAverage SEO Score Improvement: Calculated automatically\n\nView full report at: https://dashboard.theprofitplatform.com.au","options":{}},"id":"email-report","name":"Email Report","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1850,250],"continueOnFail":true}],"connections":{"Every 6 Hours":{"main":[[{"node":"API Login","type":"main","index":0}]]},"API Login":{"main":[[{"node":"Get Recent Content","type":"main","index":0}]]},"Get Recent Content":{"main":[[{"node":"Split Content Items","type":"main","index":0}]]},"Split Content Items":{"main":[[{"node":"Low SEO Score?","type":"main","index":0}]]},"Low SEO Score?":{"main":[[{"node":"Get Full Content","type":"main","index":0}],[]]},"Get Full Content":{"main":[[{"node":"Analyze SEO","type":"main","index":0}]]},"Analyze SEO":{"main":[[{"node":"Generate Optimized Version","type":"main","index":0}]]},"Generate Optimized Version":{"main":[[{"node":"Email Report","type":"main","index":0}]]}},"settings":{},"staticData":{"node:Every 6 Hours":{"recurrenceRules":[0]}},"meta":null,"pinData":null,"versionId":"9f85a578-46b3-4e4c-944b-10d17feca918","triggerCount":1,"shared":[{"createdAt":"2025-09-05T21:51:42.091Z","updatedAt":"2025-09-05T21:51:42.091Z","role":"workflow:owner","workflowId":"A6RfMzx1J2BxuCiy","projectId":"55VrbeDl3nbECwkj"}],"tags":[]}
