n8n-workflows/backups/2025-10-10-213501/simple-content-test-O3nUTS3r6xhFF8Yn.json
{"createdAt":"2025-09-05T21:51:42.153Z","updatedAt":"2025-10-04T13:22:06.614Z","id":"O3nUTS3r6xhFF8Yn","name":"Simple Content Test","active":false,"isArchived":true,"nodes":[{"parameters":{},"id":"manual-trigger","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[250,300]},{"parameters":{"method":"POST","url":"https://api.theprofitplatform.com.au/api/v1/auth/login","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"email\": \"demo@example.com\",\n  \"password\": \"demo123456\"\n}","options":{}},"id":"login","name":"Login to API","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[450,300]},{"parameters":{"method":"POST","url":"https://api.theprofitplatform.com.au/api/v1/content/generate","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"={\n  \"Authorization\": \"Bearer {{ $json.access_token }}\",\n  \"Content-Type\": \"application/json\"\n}","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"topic\": \"Benefits of AI Content Generation for Small Businesses\",\n  \"content_type\": \"blog\",\n  \"target_length\": 500,\n  \"tone\": \"professional\",\n  \"keywords\": [\"AI content\", \"small business\", \"automation\"]\n}","options":{"timeout":180000}},"id":"generate","name":"Generate Content","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[650,300]},{"parameters":{"content":"## Simple Test Workflow\n\nThis is a basic workflow to test your API connection:\n\n1. Click 'Execute Workflow' to run\n2. Check the output of 'Generate Content' node\n3. You should see generated content with word count and SEO score\n\n✅ If this works, your N8N is properly connected to the Unified Content Platform API!","height":200,"width":400},"id":"notes","name":"Test Instructions","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[250,100]}],"connections":{"Manual Trigger":{"main":[[{"node":"Login to API","type":"main","index":0}]]},"Login to API":{"main":[[{"node":"Generate Content","type":"main","index":0}]]}},"settings":{},"staticData":{},"meta":null,"pinData":null,"versionId":"293214bf-59b7-4b39-9491-3ed8afd98892","triggerCount":0,"shared":[{"createdAt":"2025-09-05T21:51:42.153Z","updatedAt":"2025-09-05T21:51:42.153Z","role":"workflow:owner","workflowId":"O3nUTS3r6xhFF8Yn","projectId":"55VrbeDl3nbECwkj"}],"tags":[]}
