n8n-workflows/backups/2025-10-10-213501/social-media-cross-platform-publishing-&-engagement-automation-iK1yvPvOxuvTwtWC.json
{"createdAt":"2025-09-05T21:52:55.671Z","updatedAt":"2025-10-04T13:21:32.194Z","id":"iK1yvPvOxuvTwtWC","name":"Social Media Cross-Platform Publishing & Engagement Automation","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"{{ $env.WEBHOOK_URL }}/social-publish","options":{"response":{"response":{"responseFormat":"json"}}}},"id":"social-publish-webhook","name":"Social Media Publishing Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"webhookId":"social-publish"},{"parameters":{"jsCode":"const { content_id, title, content, platforms, schedule_time, image_url, hashtags, target_audience } = items[0].json;\n\n// Validate required data\nif (!content_id || !title || !content) {\n  throw new Error('Missing required fields: content_id, title, or content');\n}\n\n// Parse platforms (default to all if not specified)\nconst targetPlatforms = Array.isArray(platforms) ? platforms : \n  (typeof platforms === 'string' ? platforms.split(',').map(p => p.trim().toLowerCase()) : \n   ['facebook', 'instagram', 'linkedin', 'twitter']);\n\n// Parse hashtags\nconst hashtagList = Array.isArray(hashtags) ? hashtags : \n  (typeof hashtags === 'string' ? hashtags.split(',').map(h => h.trim().startsWith('#') ? h.trim() : `#${h.trim()}`) : []);\n\n// Determine posting time (immediate or scheduled)\nconst postTime = schedule_time ? new Date(schedule_time) : new Date();\nconst isScheduled = schedule_time && postTime > new Date();\n\n// Generate platform-specific content variations\nconst platformContent = {\n  facebook: {\n    text: content.length > 500 ? content.substring(0, 497) + '...' : content,\n    call_to_action: 'Learn more: https://theprofitplatform.com.au',\n    character_limit: 63206,\n    optimal_length: 500\n  },\n  instagram: {\n    text: content.length > 300 ? content.substring(0, 297) + '...' : content,\n    hashtags: hashtagList.slice(0, 30).join(' '), // Instagram allows 30 hashtags\n    character_limit: 2200,\n    optimal_length: 300,\n    requires_image: true\n  },\n  linkedin: {\n    text: content.length > 700 ? content.substring(0, 697) + '...' : content,\n    professional_tone: true,\n    character_limit: 3000,\n    optimal_length: 700\n  },\n  twitter: {\n    text: content.length > 250 ? content.substring(0, 247) + '...' : content,\n    hashtags: hashtagList.slice(0, 2).join(' '), // Twitter best practice: 1-2 hashtags\n    character_limit: 280,\n    optimal_length: 250\n  }\n};\n\nreturn [{\n  json: {\n    content_id,\n    title,\n    original_content: content,\n    target_platforms: targetPlatforms,\n    platform_content: platformContent,\n    image_url: image_url || null,\n    hashtags: hashtagList,\n    target_audience: target_audience || 'general',\n    post_time: postTime.toISOString(),\n    is_scheduled: isScheduled,\n    processing_timestamp: new Date().toISOString()\n  }\n}];"},"id":"parse-publishing-data","name":"Parse & Format Publishing Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300]},{"parameters":{"method":"POST","url":"http://localhost:11434/api/generate","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"llama3.2:1b"},{"name":"prompt","value":"Optimize social media content for each platform. Original: '{{ $json.original_content.substring(0, 300) }}...' Target audience: {{ $json.target_audience }}. Generate platform-specific versions: 1) Facebook (engaging, 400-500 chars, community-focused) 2) Instagram (visual-friendly, 200-300 chars, hashtag-optimized) 3) LinkedIn (professional, 600-700 chars, business-focused) 4) Twitter (concise, 200-250 chars, trending topics). Include Australian context and call-to-actions. Format as JSON: {\"facebook\": \"\", \"instagram\": \"\", \"linkedin\": \"\", \"twitter\": \"\"}"},{"name":"stream","value":false}]}},"id":"optimize-platform-content","name":"AI-Optimize Platform Content","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[680,200]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"image-check","leftValue":"{{ $('Parse & Format Publishing Data').item.json.image_url }}","rightValue":"","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"}},"id":"check-image-availability","name":"Check Image Availability","type":"n8n-nodes-base.if","typeVersion":2,"position":[680,400]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/images/generations","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer {{ $env.OPENAI_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"dall-e-3"},{"name":"prompt","value":"Create a professional, engaging social media image for: {{ $('Parse & Format Publishing Data').item.json.title }}. Style: modern, Australian business context, clean design, suitable for {{ $('Parse & Format Publishing Data').item.json.target_audience }}. Include text overlay space."},{"name":"n","value":1},{"name":"size","value":"1024x1024"}]}},"id":"generate-social-image","name":"Generate Social Media Image","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[900,500]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"platform-check","leftValue":"{{ $('Parse & Format Publishing Data').item.json.target_platforms }}","rightValue":"facebook","operator":{"type":"string","operation":"contains"}}],"combinator":"and"}},"id":"check-facebook","name":"Check Facebook Publishing","type":"n8n-nodes-base.if","typeVersion":2,"position":[900,200]},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v18.0/{{ $env.FACEBOOK_PAGE_ID }}/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"message","value":"{{ JSON.parse($('AI-Optimize Platform Content').item.json.response || '{}').facebook || $('Parse & Format Publishing Data').item.json.platform_content.facebook.text }}"},{"name":"link","value":"https://theprofitplatform.com.au/content/{{ $('Parse & Format Publishing Data').item.json.content_id }}"},{"name":"access_token","value":"{{ $env.FACEBOOK_ACCESS_TOKEN }}"},{"name":"published","value":"{{ $('Parse & Format Publishing Data').item.json.is_scheduled ? 'false' : 'true' }}"},{"name":"scheduled_publish_time","value":"{{ $('Parse & Format Publishing Data').item.json.is_scheduled ? Math.floor(new Date($('Parse & Format Publishing Data').item.json.post_time).getTime() / 1000) : '' }}"}]}},"id":"post-to-facebook","name":"Post to Facebook","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1120,100]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"instagram-check","leftValue":"{{ $('Parse & Format Publishing Data').item.json.target_platforms }}","rightValue":"instagram","operator":{"type":"string","operation":"contains"}}],"combinator":"and"}},"id":"check-instagram","name":"Check Instagram Publishing","type":"n8n-nodes-base.if","typeVersion":2,"position":[1120,200]},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v18.0/{{ $env.INSTAGRAM_BUSINESS_ID }}/media","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"image_url","value":"{{ $('Parse & Format Publishing Data').item.json.image_url || $('Generate Social Media Image').item.json.data[0].url }}"},{"name":"caption","value":"{{ JSON.parse($('AI-Optimize Platform Content').item.json.response || '{}').instagram || $('Parse & Format Publishing Data').item.json.platform_content.instagram.text }} {{ $('Parse & Format Publishing Data').item.json.hashtags.slice(0, 30).join(' ') }}"},{"name":"access_token","value":"{{ $env.INSTAGRAM_ACCESS_TOKEN }}"}]}},"id":"create-instagram-media","name":"Create Instagram Media","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1340,150]},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v18.0/{{ $env.INSTAGRAM_BUSINESS_ID }}/media_publish","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"creation_id","value":"{{ $json.id }}"},{"name":"access_token","value":"{{ $env.INSTAGRAM_ACCESS_TOKEN }}"}]}},"id":"publish-instagram-media","name":"Publish Instagram Media","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1560,150]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"linkedin-check","leftValue":"{{ $('Parse & Format Publishing Data').item.json.target_platforms }}","rightValue":"linkedin","operator":{"type":"string","operation":"contains"}}],"combinator":"and"}},"id":"check-linkedin","name":"Check LinkedIn Publishing","type":"n8n-nodes-base.if","typeVersion":2,"position":[1120,300]},{"parameters":{"method":"POST","url":"https://api.linkedin.com/v2/ugcPosts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer {{ $env.LINKEDIN_ACCESS_TOKEN }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"author","value":"urn:li:organization:{{ $env.LINKEDIN_COMPANY_ID }}"},{"name":"lifecycleState","value":"PUBLISHED"},{"name":"specificContent","value":"{\n  \"com.linkedin.ugc.ShareContent\": {\n    \"shareCommentary\": {\n      \"text\": \"{{ JSON.parse($('AI-Optimize Platform Content').item.json.response || '{}').linkedin || $('Parse & Format Publishing Data').item.json.platform_content.linkedin.text }}\"\n    },\n    \"shareMediaCategory\": \"ARTICLE\",\n    \"media\": [{\n      \"status\": \"READY\",\n      \"originalUrl\": \"https://theprofitplatform.com.au/content/{{ $('Parse & Format Publishing Data').item.json.content_id }}\"\n    }]\n  }\n}"},{"name":"visibility","value":"{\n  \"com.linkedin.ugc.MemberNetworkVisibility\": \"PUBLIC\"\n}"}]}},"id":"post-to-linkedin","name":"Post to LinkedIn","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1340,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"twitter-check","leftValue":"{{ $('Parse & Format Publishing Data').item.json.target_platforms }}","rightValue":"twitter","operator":{"type":"string","operation":"contains"}}],"combinator":"and"}},"id":"check-twitter","name":"Check Twitter Publishing","type":"n8n-nodes-base.if","typeVersion":2,"position":[1120,400]},{"parameters":{"method":"POST","url":"https://api.twitter.com/2/tweets","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer {{ $env.TWITTER_BEARER_TOKEN }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"{{ JSON.parse($('AI-Optimize Platform Content').item.json.response || '{}').twitter || $('Parse & Format Publishing Data').item.json.platform_content.twitter.text }} {{ $('Parse & Format Publishing Data').item.json.hashtags.slice(0, 2).join(' ') }}"}]}},"id":"post-to-twitter","name":"Post to Twitter","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1340,400]},{"parameters":{"jsCode":"// Compile publishing results from all platforms\nconst results = {\n  content_id: $('Parse & Format Publishing Data').item.json.content_id,\n  publishing_timestamp: new Date().toISOString(),\n  platforms: {},\n  overall_status: 'success',\n  errors: [],\n  total_reach_estimate: 0\n};\n\n// Process Facebook results\nif (items.find(item => item.json.id && item.json.id.includes('_'))) {\n  const fbResult = items.find(item => item.json.id && item.json.id.includes('_'));\n  results.platforms.facebook = {\n    status: 'published',\n    post_id: fbResult.json.id,\n    platform: 'facebook',\n    reach_estimate: 500\n  };\n  results.total_reach_estimate += 500;\n}\n\n// Process Instagram results\nif (items.find(item => item.json.id && !item.json.id.includes('_'))) {\n  const igResult = items.find(item => item.json.id && !item.json.id.includes('_'));\n  results.platforms.instagram = {\n    status: 'published',\n    post_id: igResult.json.id,\n    platform: 'instagram',\n    reach_estimate: 300\n  };\n  results.total_reach_estimate += 300;\n}\n\n// Process LinkedIn results\nif (items.find(item => item.json.id && item.json.id.startsWith('urn:'))) {\n  const liResult = items.find(item => item.json.id && item.json.id.startsWith('urn:'));\n  results.platforms.linkedin = {\n    status: 'published',\n    post_id: liResult.json.id,\n    platform: 'linkedin',\n    reach_estimate: 200\n  };\n  results.total_reach_estimate += 200;\n}\n\n// Process Twitter results\nif (items.find(item => item.json.data && item.json.data.id)) {\n  const twitterResult = items.find(item => item.json.data && item.json.data.id);\n  results.platforms.twitter = {\n    status: 'published',\n    post_id: twitterResult.json.data.id,\n    platform: 'twitter',\n    reach_estimate: 150\n  };\n  results.total_reach_estimate += 150;\n}\n\n// Check for any errors\nif (items.some(item => item.json.error)) {\n  results.overall_status = 'partial_success';\n  results.errors = items\n    .filter(item => item.json.error)\n    .map(item => ({ platform: 'unknown', error: item.json.error }));\n}\n\nreturn [{ json: results }];"},"id":"compile-publishing-results","name":"Compile Publishing Results","type":"n8n-nodes-base.code","typeVersion":2,"position":[1560,350]},{"parameters":{"method":"POST","url":"https://api.theprofitplatform.com.au/api/v1/social/store-results","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer {{ $env.API_TOKEN }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content_id","value":"{{ $json.content_id }}"},{"name":"publishing_results","value":"{{ $json }}"},{"name":"platforms","value":"{{ Object.keys($json.platforms) }}"},{"name":"reach_estimate","value":"{{ $json.total_reach_estimate }}"},{"name":"status","value":"{{ $json.overall_status }}"}]}},"id":"store-publishing-results","name":"Store Publishing Results","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1780,350]},{"parameters":{"message":"📱 Social Media Publishing Complete!\n\nContent: {{ $('Parse & Format Publishing Data').item.json.title }}\nPlatforms: {{ Object.keys($('Compile Publishing Results').item.json.platforms).join(', ') }}\nStatus: {{ $('Compile Publishing Results').item.json.overall_status }}\nEstimated Reach: {{ $('Compile Publishing Results').item.json.total_reach_estimate }} people\n\nPlatform Results:\n{{ Object.entries($('Compile Publishing Results').item.json.platforms).map(([platform, data]) => `${platform.toUpperCase()}: ${data.status} (ID: ${data.post_id})`).join('\\n') }}\n\n{{ $('Compile Publishing Results').item.json.errors.length > 0 ? `Errors: ${$('Compile Publishing Results').item.json.errors.map(e => e.error).join(', ')}` : 'All platforms published successfully!' }}\n\nView analytics: https://dashboard.theprofitplatform.com.au/social/{{ $('Parse & Format Publishing Data').item.json.content_id }}","subject":"Social Publishing {{ $('Compile Publishing Results').item.json.overall_status === 'success' ? '✅ Complete' : '⚠️ Partial Success' }}","options":{"allowUnauthorizedCerts":false,"ccEmail":"social@theprofitplatform.com.au","bccEmail":""},"credentials":{"smtp":{"id":"smtp-credentials","name":"SMTP Account"}}},"id":"send-publishing-report","name":"Send Publishing Summary Report","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[2000,350]}],"connections":{"Social Media Publishing Webhook":{"main":[[{"node":"Parse & Format Publishing Data","type":"main","index":0}]]},"Parse & Format Publishing Data":{"main":[[{"node":"AI-Optimize Platform Content","type":"main","index":0},{"node":"Check Image Availability","type":"main","index":0}]]},"AI-Optimize Platform Content":{"main":[[{"node":"Check Facebook Publishing","type":"main","index":0}]]},"Check Image Availability":{"main":[[{"node":"Check Facebook Publishing","type":"main","index":0}],[{"node":"Generate Social Media Image","type":"main","index":0}]]},"Generate Social Media Image":{"main":[[{"node":"Check Facebook Publishing","type":"main","index":0}]]},"Check Facebook Publishing":{"main":[[{"node":"Post to Facebook","type":"main","index":0}],[{"node":"Check Instagram Publishing","type":"main","index":0}]]},"Post to Facebook":{"main":[[{"node":"Check Instagram Publishing","type":"main","index":0}]]},"Check Instagram Publishing":{"main":[[{"node":"Create Instagram Media","type":"main","index":0}],[{"node":"Check LinkedIn Publishing","type":"main","index":0}]]},"Create Instagram Media":{"main":[[{"node":"Publish Instagram Media","type":"main","index":0}]]},"Publish Instagram Media":{"main":[[{"node":"Check LinkedIn Publishing","type":"main","index":0}]]},"Check LinkedIn Publishing":{"main":[[{"node":"Post to LinkedIn","type":"main","index":0}],[{"node":"Check Twitter Publishing","type":"main","index":0}]]},"Post to LinkedIn":{"main":[[{"node":"Check Twitter Publishing","type":"main","index":0}]]},"Check Twitter Publishing":{"main":[[{"node":"Post to Twitter","type":"main","index":0}],[{"node":"Compile Publishing Results","type":"main","index":0}]]},"Post to Twitter":{"main":[[{"node":"Compile Publishing Results","type":"main","index":0}]]},"Compile Publishing Results":{"main":[[{"node":"Store Publishing Results","type":"main","index":0}]]},"Store Publishing Results":{"main":[[{"node":"Send Publishing Summary Report","type":"main","index":0}]]}},"settings":{},"staticData":{},"meta":null,"pinData":null,"versionId":"83b5d683-8e93-48ad-b075-52b0dbaf65fa","triggerCount":1,"shared":[{"createdAt":"2025-09-05T21:52:55.671Z","updatedAt":"2025-09-05T21:52:55.671Z","role":"workflow:owner","workflowId":"iK1yvPvOxuvTwtWC","projectId":"55VrbeDl3nbECwkj"}],"tags":[]}
