n8n-workflows/backups/2025-10-10-213501/social-media-publishing-automation-5lJTDzcTWqSRRfOj.json
{"createdAt":"2025-09-05T21:52:55.641Z","updatedAt":"2025-09-21T14:24:01.936Z","id":"5lJTDzcTWqSRRfOj","name":"Social Media Publishing Automation","active":false,"isArchived":false,"nodes":[{"parameters":{"mode":"webhook","path":"social-media-publish","httpMethod":"POST","responseMode":"responseNode"},"id":"f3g6j0e2-i7h8-9i3i-4e6f-7g8h9i0j1k2l","name":"Social Media Trigger","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[240,300]},{"parameters":{"jsCode":"// Format content for different social media platforms\nconst content = $input.first().json.content;\nconst platforms = $input.first().json.platforms || ['twitter', 'facebook', 'linkedin'];\nconst hashtags = $input.first().json.hashtags || [];\n\nconst formatForPlatform = (content, platform, hashtags) => {\n  let formatted = content;\n  \n  switch(platform) {\n    case 'twitter':\n      // Twitter character limit\n      if (formatted.length > 240) {\n        formatted = formatted.substring(0, 240) + '...';\n      }\n      break;\n    case 'linkedin':\n      // LinkedIn professional format\n      formatted = `${formatted}\\n\\n#LinkedInPost`;\n      break;\n    case 'facebook':\n      // Facebook allows longer posts\n      formatted = `${formatted}\\n\\nStay connected for more updates!`;\n      break;\n  }\n  \n  // Add hashtags\n  if (hashtags.length > 0) {\n    const hashtagString = hashtags.map(tag => `#${tag}`).join(' ');\n    formatted = `${formatted}\\n\\n${hashtagString}`;\n  }\n  \n  return formatted;\n};\n\n// Create formatted versions for each platform\nconst formattedPosts = platforms.map(platform => ({\n  platform: platform,\n  content: formatForPlatform(content, platform, hashtags),\n  original_content: content,\n  schedule_time: $input.first().json.schedule_time || new Date().toISOString()\n}));\n\nreturn formattedPosts;"},"id":"g4h7k1f3-j8i9-0j4j-5f7g-8h9i0j1k2l3m","name":"Format Content","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300]},{"parameters":{"url":"http://31.97.222.218:8000/api/v1/publishing/social-media/schedule","requestMethod":"POST","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{$json[\"content\"]}}"},{"name":"platforms","value":"=[{{$json[\"platform\"]}}]"},{"name":"hashtags","value":"={{$node['Social Media Trigger'].json['hashtags'] || []}}"},{"name":"schedule_time","value":"={{$json[\"schedule_time\"]}}"}]}},"id":"h5i8l2g4-k9j0-1k5k-6g8h-9i0j1k2l3m4n","name":"Schedule Social Post","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[680,300]},{"parameters":{"jsCode":"// WordPress posting logic\nconst content = $input.first().json.original_content;\nconst title = $node['Social Media Trigger'].json.title || 'Social Media Content';\n\n// Create WordPress-friendly content\nconst wordpressContent = `<h2>${title}</h2>\\n\\n<p>${content.replace(/\\n/g, '</p>\\n<p>')}</p>`;\n\nreturn [{\n  title: title,\n  content: wordpressContent,\n  status: 'draft',\n  categories: ['Social Media', 'Content Marketing'],\n  tags: $node['Social Media Trigger'].json.hashtags || []\n}];"},"id":"i6j9m3h5-l0k1-2l6l-7h9i-0j1k2l3m4n5o","name":"Prepare WordPress","type":"n8n-nodes-base.code","typeVersion":2,"position":[680,480]},{"parameters":{"url":"http://31.97.222.218:8000/api/v1/publishing/wordpress/publish","requestMethod":"POST","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"title","value":"={{$json[\"title\"]}}"},{"name":"content","value":"={{$json[\"content\"]}}"},{"name":"status","value":"={{$json[\"status\"]}}"},{"name":"categories","value":"={{$json[\"categories\"]}}"},{"name":"tags","value":"={{$json[\"tags\"]}}"}]}},"id":"j7k0n4i6-m1l2-3m7m-8i0j-1k2l3m4n5o6p","name":"Publish WordPress","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[900,480]},{"parameters":{"respondWith":"json","responseBody":{"success":true,"message":"Social media automation completed","social_posts":"={{$node['Schedule Social Post'].json}}","wordpress_post":"={{$node['Publish WordPress'].json}}","processed_at":"={{new Date().toISOString()}}"}},"id":"k8l1o5j7-n2m3-4n8n-9j1k-2l3m4n5o6p7q","name":"Final Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1120,390]}],"connections":{"Social Media Trigger":{"main":[[{"node":"Format Content","type":"main","index":0}]]},"Format Content":{"main":[[{"node":"Schedule Social Post","type":"main","index":0},{"node":"Prepare WordPress","type":"main","index":0}]]},"Schedule Social Post":{"main":[[{"node":"Final Response","type":"main","index":0}]]},"Prepare WordPress":{"main":[[{"node":"Publish WordPress","type":"main","index":0}]]},"Publish WordPress":{"main":[[{"node":"Final Response","type":"main","index":0}]]}},"settings":{},"staticData":{},"meta":null,"pinData":null,"versionId":"d9815dad-b1f1-4ab7-b680-d7a50711d389","triggerCount":1,"shared":[{"createdAt":"2025-09-05T21:52:55.641Z","updatedAt":"2025-09-05T21:52:55.641Z","role":"workflow:owner","workflowId":"5lJTDzcTWqSRRfOj","projectId":"55VrbeDl3nbECwkj"}],"tags":[]}
