n8n-workflows/backups/2025-10-10-213501/test-http-request---api-integration-k1TGHbVutXSKPWUv.json
{"createdAt":"2025-09-05T21:43:31.112Z","updatedAt":"2025-10-04T13:22:36.755Z","id":"k1TGHbVutXSKPWUv","name":"Test HTTP Request - API Integration","active":false,"isArchived":true,"nodes":[{"parameters":{},"id":"manual-trigger-001","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[240,300]},{"parameters":{"url":"https://api.github.com/users/theprofitplatform","options":{"timeout":10000}},"id":"http-request-001","name":"Test GitHub API","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,300]},{"parameters":{"functionCode":"const data = $json;\nconst timestamp = new Date().toISOString();\n\nreturn [{\n  json: {\n    test_status: 'success',\n    domain: 'theprofitplatform.com.au',\n    timestamp: timestamp,\n    api_test_result: {\n      github_user: data.login || 'not found',\n      user_id: data.id || 'unknown',\n      public_repos: data.public_repos || 0\n    },\n    message: 'HTTP request test completed successfully!'\n  }\n}];"},"id":"format-response-001","name":"Format Response","type":"n8n-nodes-base.function","typeVersion":1,"position":[680,300]},{"parameters":{"content":"## HTTP Request Test Workflow\\n\\nThis workflow tests HTTP requests by calling the GitHub API.\\n\\n**To test manually**:\\n1. Click 'Execute Workflow' button\\n2. Check the output in the Format Response node\\n\\n**Expected result**: GitHub user info for theprofitplatform","height":160,"width":400,"color":3},"id":"http-instructions-note","name":"HTTP Test Instructions","type":"n8n-nodes-base.stickyNote","position":[240,80],"typeVersion":1}],"connections":{"Manual Trigger":{"main":[[{"node":"Test GitHub API","type":"main","index":0}]]},"Test GitHub API":{"main":[[{"node":"Format Response","type":"main","index":0}]]}},"settings":{},"staticData":{},"meta":null,"pinData":null,"versionId":"70a60ced-07c5-49bc-9192-f7ace4634732","triggerCount":0,"shared":[{"createdAt":"2025-09-05T21:43:31.112Z","updatedAt":"2025-09-05T21:43:31.112Z","role":"workflow:owner","workflowId":"k1TGHbVutXSKPWUv","projectId":"55VrbeDl3nbECwkj"}],"tags":[]}
